<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Страница Администратора</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Content ===-->
<div class="container content-sm">

    <div ng-include="'views/template/admin-menu.htm'"></div>

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group sidebar-nav-v1">
                <li class="list-group-item"><a href="" ng-click="loadTop('week')" ng-class="{'blue-style': selectedTime == 'week'}">
                    Лучшие
                </a></li>
               <!-- <li class="list-group-item"><a href="" ng-click="loadTop('month')" ng-class="{'blue-style': selectedTime == 'month'}">
                    За месяц
                </a></li>-->
                <!--<li class="list-group-item"><a href="" ng-click="loadTop('new')" ng-class="{'blue-style': selectedTime == 'new'}">
                    Новые
                </a></li>-->
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-blue margin-bottom-10">
                <div ui-grid="table" ui-grid-selection></div>
            </div>
            <button class="btn-u btn-u-sea rounded disabled-button" ng-click="addToTop()" ng-disabled="selection.length === 0">Добавить в лучшие</button>
            <button class="btn-u btn-u-sea rounded disabled-button" ng-click="removeFromTop()" ng-disabled="selection.length === 0">Удалить из лучших</button>
        </div>
    </div>

</div>