.header .logo img {
    margin-top: 13px;
	margin-bottom: 10px;
    max-width: 100%;
}

.header .navbar-nav {
    float: right;
    margin-left: 280px;
}

.header .navbar-nav > li > a {
    padding: 9px 30px 4px 20px;
}

.header-fixed .header.header-fixed-shrink .navbar-nav > li > a {
	bottom: -14px;
}

.social-icons {
    margin-top: -2.1em;
}

.footer-v1 .footer {
    padding: 15px 0;
}

.service {
    text-align: center;
}

.latest-list li a {
	color: black;
    font-size: 110%;
}

.news-list-date {
	color: #4169e1;
}

.col-md-3-custom {
    width: 33.3333%;
}

.header-fixed .header.header-fixed-shrink .logo img {
    max-width: 100%;
    /*margin: 45px 0 -4px;*/
}

.service-block-default:hover {
    box-shadow: 0px 0px 5px 3px #aead95;
}

.select-table-body {
    margin-left: -28px;
}

.page-divider {
    margin: 60px 0;
}

.main-page-button {
    margin-top: 18px;
    width: 100%;
    color: #555;
    background: #fff;
    border: inherit !important;
}

.main-page-button:hover {
    background: #2295b9;
    color: #fff;
}

.main-button-with-top {
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.panel-title {
    background: #fefefe;
}

fieldset {
    background: #fff;
    display: block;
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: none !important;
}

.sky-row {
    margin: 0 -15px;
}

.sky-form {
    box-shadow: none;
    border: 1px solid #eee;
    margin: 0;
    outline: none;
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
}

.col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.col-4 {
    width: 33.33%;
}

.slider-style {
    width: 100%;
    height: 500px;
    margin: 0px auto;
}

.invest-button {
    margin:6px 10px;
    font-size: 20px !important;
}

.top-five-button {
    margin-bottom: -3px;
}

.invest-idea-header {
    font-size: 14px;
    float: right;
}

.main-table {
    width: 94%;
}

.bg-color-light {
    color: black;
}

.blue-style {
    color:#34a0d9 !important;
}

.red-style {
    color: #e72e29;
}

.content-lg {
    padding-top: 70px;
    padding-bottom: 10px;
}

.title-v1 {
    margin-bottom: 50px;
}

@media only screen and (min-width: 992px) and (min-height: 507px) {
    .screen-height {
        height: 100vh;
    }
}

@media only screen and (min-width: 992px) and (min-height: 542px) {
    .screen-height-95 {
        height: 95vh;
    }
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

@media only screen and (min-width:1200px) {
    .button-height {
        height: 200px;
    }
}

.sky-form {
    border: none !important;
}

.sortorder.reverse:after {
    content: '\25bc';
}

.sortorder:after {
    content: '\25b2';
}

.disabled-button:disabled {
    background: #e0e0e0;
}
.disabled-button[disabled]:hover {
     background: #e0e0e0;
}