<!DOCTYPE html>

<!--<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Информацию о продукте</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Информация о продукте</li>
        </ul>
    </div>
</div>-->

<div class="container">
	<div class="row" style="padding-top:50px">
		<div class="col-xs-12 text-center visible-xs">
					<h1 class="headlight" style="margin-top:20px; line-height:32px;">
						{{productParams.product.name}}
					</h1>			
				</div>
		<div class="col-xs-12 col-sm-6">
			<div ng-if="productParams.showImg == true" class="text-center">
				<img src="{{productParams.img}}" style="width:90%;" class="product-img-style" />
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">

			<div class="row" style="padding-bottom:20px;">
				<div class="col-sm-12 hidden-xs">
					<h1 class="headlight" style="margin-top:0; line-height:32px;">
						{{productParams.product.name}}
					</h1>			
				</div>
			</div>

			<div class="row">
				<div class="col-xs-10">
					<!--START DESCRIPTION-->
					<div class="margin-bottom-10">

						<div ng-if="isShow('desc')">

							<p>{{productParams.product.description}}</p>

						</div>
					</div>
					<!--END DESCRIPTION-->
					<div style="margin-bottom:30px;">
						<p class="min">Доходность и валюта: <span class="dark">{{productParams.product.returnValue}}% {{productParams.product.outputCurrency.name}}</span></p>

						<p class="min">Уровень защиты: <span class="dark">{{productParams.product.productType.name}}</span></p>

						<p class="min">Срок инвестирования: <span style="font-weight:700;">{{productParams.product.termName}}</span></p>

						<p class="min">Минимальная сумма инвестиций и валюта: <span class="dark">{{productParams.product.investName}} {{productParams.product.inputCurrency.name}}</span></p>

						<p class="min">Базовые активы: <span class="dark"> {{productParams.product.underlayings}}</span></p>

					</div>
					<p class="block-header">Другие параметры</p>

					<p class="min">Стратегия: <span class="dark"> {{productParams.product.strategy.name}}</span></p>
					<p class="min">Периодичность выплат: <span class="dark"> {{productParams.product.paymentPeriodicity.name}}</span></p>
					<p class="min">Юридическая форма: <span class="dark"> {{productParams.product.legalType.name}}</span></p>
					<p class="min">Размер выплаты: <span class="dark">{{productParams.product.payoff.name}}</span></p>


					 



				<div style="min-width:250px; max-width: 350px; margin-top:30px;">
				<div  class="text-center" 
						style="padding: 3px; background:url('resources/img/button_choose_this.png') no-repeat;
								 background-size: cover;">
								<a class="inside-button"   role="button" 
								ng-click="openModal()" onclick="ga('send', 'event', 'Button', 'Request', 'By product');">Выбрать этот продукт</a>
					 </div>
				</div>		


				</div>
				<div class="col-xs-2">
					<img ng-src="{{productParams.product.broker.logo}} " class="img-style">		
				</div>
			</div>

		</div>

	</div>


	<div class="row">
			<div class="text-center">

				<h2 class="headlight text-center">Похожие продукты</h2>

				<table class="grid-table-striped" style="margin:0px;width:100%">
					<thead>
						<tr class="underline">
							<th></th>
                            <th>Название <i class="fa fa-sort-amount-asc fa-2"></i></th>
							<th class="visible-sm visible-md visible-lg">Базовые активы</th>
                            <th class="visible-sm visible-md visible-lg">Доходность <i class="fa fa-sort-amount-asc fa-2"></i></th>
                            <th class="visible-sm visible-md visible-lg">Cумма инвестиций</th>
                            <th class="visible-sm visible-md visible-lg">Срок</th>
                            <th>Брокер</th>
						</tr>
					</thead>
					<tbody>
						<!--<tr ng-repeat="val in topProducts | orderBy:predicate:reverse | limitTo:5" ng-click="goToProductPage(val.id)">
							<td class="text-right" style="color:#a8aaac; padding-left:6px;  padding-right:6px;">{{$index + 1}}.</td>
							<td class="text-left">{{val.name}}</td>
							<td class="visible-sm visible-md visible-lg text-left">{{val.underlayings}}</td>
							<td class="visible-sm visible-md visible-lg text-left">{{val.returnValue}} %</td>
							<td class="text-left">{{val.broker.name}}</td>
							<td class="text-left">
								<img src="{{val.broker.logo}}" style="max-height:35px; max-width:170px;" />
							</td>
						</tr>-->

                        <tr ng-repeat="val in products.slice(0, 4) | orderBy:val.name" ng-click="goToProductPage(val.id)" class="table-row">
                            <td class="text-right">{{$index + 1}}</td>
                            <td class="text-left">{{val.name}}</td>
							<td class="visible-sm visible-md visible-lg text-left">{{val.underlayings}}</td>
                            <td class="visible-sm visible-md visible-lg text-left">>{{val.returnValue}}%</td>
                            <td class="visible-sm visible-md visible-lg text-left">>{{getPeriodValue(val.minInvest,val.maxInvest)}} {{val.currency.name}}</td>
                            <td class="visible-sm visible-md visible-lg text-left">>{{getPeriodValue(val.minTerm,val.maxTerm)}} мес.</td>
                            <td class="text-left"><img src="{{val.broker.logo}}" style="max-height:35px; max-width:170px;" /</td>
                        </tr>

					</tbody>
				</table>




			</div>
		</div>

</div>

<link rel="stylesheet" href="resources/js/App/product/product.css">
<link rel="stylesheet" href="resources/assets/css/pages/page_one.css">