.col-style {
    padding: 15px;
}

.table-full {
    font-size: 15px;
    width: 94%;
    margin-top: 10px;
}

.content {
    padding-top: 20px;
    padding-bottom: 10px;
}

.hr-style {
    margin-top: 7px;
    margin-bottom: 7px;
}

.devider.devider-dashed {
    border-top: 1px dashed #eee !important;
}

.custom-h2 {
    color: #555;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.custom-h3 {
    color: #555;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 23px;
}

.cursor-type {
    cursor: pointer;
    display: inline-block;
}

.under-style {
    margin-left: 15px;
    margin-top: 5px;
}

.img-style {
    width: 100px;
}