.col-style {
    padding: 15px;
}

.red-style {
    background: #EEBDA7;
}

.table-full {
    font-size: 15px;
    width: 94%;
    margin-top: 10px;
}

.content {
    padding-top: 20px;
    padding-bottom: 10px;
}

.hr-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-h3 {
    color: #555;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 27px;
}

.cursor-type {
    cursor: pointer;
    display: inline-block;
}
