<!DOCTYPE html>

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Информацию о продукте</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Информация о продукте</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-6 col-style margin-top-5">
        <h2>{{productParams.product.name}}</h2>
        <div ng-if="productParams.showImg == false">
            <h3 >График цены базовых активов</h3>
            <div>
                <canvas id="chart" width="400" height="300"></canvas>
                <div id="legendDiv"></div>
            </div>
        </div>
        <div ng-if="productParams.showImg == true">
            <img src="{{productParams.img}}"  class="product-img-style"/>
        </div>
        <!--<img src="{{productParams.img}}" width="400" height="300"/>
        <h3 class="btn-link" ng-click="showChart = !showChart">График цены базового актива</h3>
        <div ng-show="showChart">
            <canvas id="chart" width="400" height="300"></canvas>
        </div>

        <h3 class="btn-link" ng-click="showForecast = !showForecast">Прогноз аналитиков</h3>
        <div ng-show="showForecast">
            <p>
                {{productParams.forecast}}
            </p>
        </div>-->
    </div>
    <!-- START RIGHT COLUMN-->
    <div class="col-md-6 col-style">
        <h2>Параметры продукта</h2>
        <!--START DESCRIPTION-->
        <div class="margin-bottom-10">
            <div>
                <div ng-click="click('desc')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('desc')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('desc')"></i>
                    &nbsp;&nbsp;
                    <span class="custom-h2 red-style">Описание</span>
                </div>
            </div>
            <div class="row" ng-if="isShow('desc')">
                <div class="under-style">
                    <p>{{productParams.product.description}}</p>
                </div>
            </div>
        </div>
        <!--END DESCRIPTION-->
        <!--START MAIN PARAMS-->
        <div>
            <span class="custom-h3">Доходность и валюта: <span class="blue-style">{{productParams.product.returnValue}}% {{productParams.product.outputCurrency.name}}</span></span>
            <hr class="devider devider-dashed hr-style"/>
            <span class="custom-h3">Уровень защиты: <span class="blue-style">{{productParams.product.productType.name}}</span></span>
            <hr class="devider devider-dashed hr-style"/>
            <span class="custom-h3">Срок инвестирования: <span class="blue-style">{{productParams.product.termName}}</span></span>
            <hr class="devider devider-dashed hr-style"/>
            <span class="custom-h3">Минимальная сумма инвестиций и валюта: <span class="blue-style">{{productParams.product.investName}} {{productParams.product.inputCurrency.name}}</span></span>
            <hr class="devider devider-dashed hr-style"/>
            <span class="custom-h3">Базовые активы: <span class="blue-style">{{productParams.product.underlayings}}</span></span>
            <hr class="devider devider-dashed hr-style"/>
        </div>
        <!--END MAIN PARAMS-->
        <!--START OTHER PARAMS-->
        <div>
            <div>
                <div ng-click="click('otherParams')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('otherParams')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('otherParams')"></i>
                    &nbsp;&nbsp;
                    <span class="custom-h2 red-style">Другие параметры</span>
                </div>
            </div>
            <div class="row" ng-if="isShow('otherParams')">
                <div class="table-full">
                    <table class="table main-table">
                        <thead>
                        <tr>
                            <th>
                                Стратегия
                            </th>
                            <th>
                                Периодичность выплат
                            </th>
                            <th>
                                Юридическая форма
                            </th>
                            <th>
                                Размер выплаты
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{productParams.product.strategy.name}}</td>
                                <td>{{productParams.product.paymentPeriodicity.name}}</td>
                                <td>{{productParams.product.legalType.name}}</td>
                                <td>{{productParams.product.payoff.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--END OTHER PARAMS-->
        <hr class="devider devider-dashed hr-style"/>
        <div class="margin-top-20">
            <div class="col-md-9">
                <a href="" ng-click="openModal()"><h2>Отправить заявку на покупку структурного продукта</h2></a>
                <button type="button" style="border:0; background: white" ng-click="openModal()"><img src="resources/img/send_bid.png"/></button>
            </div>
            <div class="col-md-3">
                <img ng-src="{{productParams.product.broker.logo}}" class="img-style">
            </div>
        </div>
    </div>
    <!-- END RIGHT COLUMN-->
</div>

<link rel="stylesheet" href="resources/js/App/product/product.css">
<link rel="stylesheet" href="resources/assets/css/pages/page_one.css">