<!DOCTYPE html>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">О проекте</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">О структурных продуктах</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div>

    <div class="headline-center container content">
        <p><h3><span class="blue-style">x</span><span class="red-style">Stru</span><span class="blue-style">m</span>
            (Экструм) – сайт (электронная площадка) для поиска,
            конструирования и совершения сделок со структурными продуктами.</h3>
        </p><br>
    </div>

    <div class="bg-color-light">
        <div class="container content">
            <div class="center">
                <div class="headline-center">
                    <h1>С помощью <span class="blue-style">x</span><span class="red-style">Stru</span><span class="blue-style">m.ru</span>
                        Вы можете
                    </h1>
                </div><br>
                <div class="row main-buttons">
                    <div class="col-md-4 col-sm-6">
                        <button class="btn-u btn-brd rounded-4x btn-u-red btn-u-lg" type="button"><i class="fa"></i>
                            <h3>Выбрать из<br>предложенных</h3>
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h2><b><br>ИЛИ</b></h2>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <button class="btn-u btn-brd rounded-4x btn-u-red btn-u-lg" type="button"><i class="fa"></i>
                            <h3>Сконструировать<br>самостоятельно</h3>
                        </button>
                    </div>
                </div>
                <br>
                <div>
                    <p><h2>инвестиционный продукт, исходя из Ваших потребностей:</h2></p>
                </div>
            </div>
            <div class="row headline-left" style="margin-left: 35%">
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i><h3>Желаемого уровня доходности</h3></li>
                    <li><i class="fa fa-angle-right"></i><h3>Оптимального срока инвестирования</h3></li>
                    <li><i class="fa fa-angle-right"></i><h3>Отношения к риску</h3></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container content">
        <div>
            <p>
                <h3><span class="blue-style">x</span><span class="red-style">Stru</span><span class="blue-style">m</span>
                    создан при поддержке крупнейшей российской биржи ПАО Московская Биржа, а также
                    ряда ведущих российских брокерских компаний. См. вкладку <a href="#/partners">Наши партнеры.</a>
                </h3>
            <br><br>
                <h3>
                    Продавцами структурных продуктов выступают профессиональные участники рынка ценных бумаг
                    (брокеры), обладающие лицензиями Банка России, а покупателями -  физические лица.
                </h3>
            </p>
            <br>
            <div class="headline-center">
                <img src="resources/img/pages/xstrum_about.png" alt=""/>
            </div>
        </div>
        <div class="right">
            <a href="#/structuredproducts">Подробнее о структурных продуктах</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="resources/css/about.css">