<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Страница Администратора</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Content ===-->
<div class="container content-sm">

    <div class="row">

        <div class="col-md-6 md-margin-bottom-20">
            <h2>Тип структурного продукта</h2>
            <button type="button" class="btn-u" ng-click="addData()">Добавить данные</button>
            <button type="button" class="btn-u" ng-click="saveData()" ng-disabled="saveButtons[productType] == true">
                Сохранить
            </button>
            <div ui-grid="productType" ui-grid-edit></div>
        </div>

        <div class="col-md-6 md-margin-bottom-20">
            <h2>Срок</h2>
            <div ui-grid="term" ui-grid-edit></div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 md-margin-bottom-20">
            <h2>Минимальная сумма инвестиций</h2>
            <div ui-grid="minInvestment" ></div>
        </div>

        <div class="col-md-6 md-margin-bottom-20">
            <h2>Провайдер продукта</h2>
            <div ui-grid="issuer" ></div>
        </div>

    </div>

</div>