<ul class="nav nav-tabs">
    <li ng-attr-class="{{page === 'product' && 'active' || ''}}"><a href="#/admin">Продукты</a></li>
    <li ng-attr-class="{{page === 'productparams' && 'active' || ''}}"><a href="#/admin/productparams">Параметры продуктов</a></li>
    <li ng-attr-class="{{page === 'investidea' && 'active' || ''}}"><a id='investidea' href="#/admin/investidea">Инвестиционные идеи</a></li>
    <li ng-attr-class="{{page === 'broker' && 'active' || ''}}"><a href="#/admin/broker">Брокеры</a></li>
    <li ng-attr-class="{{page === 'topproduct' && 'active' || ''}}"><a href="#/admin/topproducts">Топ продуктов</a></li>
</ul>
