<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Страница Администратора</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Content ===-->
<div class="container content-sm">
    <ul class="nav nav-tabs">
        <li><a href="#/admin">Продукты</a></li>
        <li><a href="#/admin-investidea">Инвестиционные идеи</a></li>
        <li class="active"><a href="#/admin-topproducts">Топ продуктов</a></li>
    </ul>

</div>