<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Страница Администратора</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content ===-->
<div class="container content-sm">




    <div class="sky-form">
        <style ui-grid-style>"table main-table"</style>
        <div ui-grid="gridOptions1" class="table main-table" ng-style="getTableHeight()"></div>
        <style ui-grid-style>"table main-table"</style>

        <fieldset>
            <section>
                <h2>Файл топовых продуктов</h2>
                <div class="sky-row">
                    <div class="col col-4">
                        <input type = "file" file-model = "myFile"/>
                        <button ng-click = "uploadFile()" style="margin-top: 5px;">Загрузить</button>
                    </div>
                    <div class="col col-4">
                        <input type = "file" file-model = "myFile"/>
                        <button ng-click = "uploadFile()" style="margin-top: 5px;">Загрузить</button>
                    </div>
                </div>
            </section>
        </fieldset>
    </div>
</div>