<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="footer-v1" class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Контакты</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-home"></i>Russia <br />
                            <i class="fa fa-globe"></i>Сайт: <a href="www.xstream.ru">www.xstream.ru</a> <br />
                            <i class="fa fa-envelope"></i>Email: <a href="mailto:xstrum.service@gmail.com">xstrum.service@gmail.com</a>
                        </address>
                    </div>
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Мы в социальных сетях</h2></div>
                        <p><strong>Follow Us</strong> If you want to be kept up to date about what’s going on, minute by minute!</p><br>

                        <ul class="social-icons">
                            <li><a href="#" data-original-title="Vk" class="rounded-x social_vk"></a></li>
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <ul class="list-inline terms-menu">
                    <li class="silver">2016 © Все права защищены.</li>
                </ul>
            </div>
        </div>
    </div>
</body>