<!DOCTYPE html>
<!--[if !IE]><!--> <html lang="ru"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
</head>

<body>
<!--=== Header ===-->
<div class="header header-sticky no-topbar">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="#/">
            <img src="resources/img/logo2.png" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="menu-container">
            <ul class="nav navbar-nav">
                <li class="page-scroll">
                    <a href="#/about">О проекте</a>
                </li>
                <li class="page-scroll">
                    <a href="#/about">О структурных продуктах</a>
                </li>
                <li class="page-scroll">
                    <a href="#/partners">Наши партнеры</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--=== End Header ===-->
</body>