<link rel="stylesheet" href="resources/assets/css/pages/page_invoice.css">

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Выбрать инвестиционный продукт</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Выбрать инвестиционный продукт</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="screen-height-95">
        <div class="height-50">
            <div class="no-padding-column">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="1616px" height="466.547px" class="graphic" viewBox="197 147.453 1616 466.547" enable-background="new 197 147.453 1616 466.547"
                 xml:space="preserve">
                    <style type="text/css"><![CDATA[
                        .line {
                        visibility: hidden;
                    }
                    .cursor-type {
                        cursor: pointer;
                    }
                    ]]></style>
                        <g>
                            <g>

                                    <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="237.086" y1="153.805" x2="237.086" y2="578.92"/>
                                <g>
                                    <polygon points="227.083,167.093 230.04,167.861 237.086,154.024 244.132,167.861 247.088,167.093 237.086,147.453 			"/>
                                </g>
                            </g>
                        </g>
                        <g>
                            <g>

                                    <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="1231.284" y1="578.92" x2="237.086" y2="578.92"/>
                                <g>
                                    <polygon points="1213.76,571.415 1212.748,573.634 1230.995,578.92 1212.748,584.206 1213.76,586.423 1239.661,578.92 			"/>
                                </g>
                            </g>
                        </g>
                        <path id="main-ellipse" fill="#2EA0D9" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M591.317,259.707
                            c199.411-75.976,383.861-103.895,411.978-62.36c28.117,41.536-110.744,136.797-310.157,212.773
                            c-199.411,75.977-383.861,103.896-411.977,62.358C253.042,430.944,391.903,335.683,591.317,259.707z"/>
                        <path id="green-ellipse" fill="#2EA0D9" d="M331.111,393.31c42.697-33.092,90.679-50.209,107.17-38.232
                            c16.492,11.978-4.752,48.512-47.449,81.604c-42.698,33.093-90.681,50.21-107.171,38.233
                            C267.169,462.938,288.413,426.401,331.111,393.31z"/>
                        <path id="red-ellipse" fill="#2EA0D9" d="M546.906,279.021c66.604-22.314,127.673-28.518,136.401-13.854
                            s-38.186,44.642-104.788,66.958s-127.671,28.519-136.402,13.854C433.388,331.316,480.303,301.339,546.906,279.021z"/>
                        <path id="blue-ellipse" fill="#2EA0D9" d="M838.039,187.75c84.223-15.435,156.987-11.215,162.525,9.424
                            c5.538,20.639-58.249,49.885-142.469,65.319c-84.224,15.435-156.986,11.215-162.525-9.425
                            C690.032,232.429,753.818,203.185,838.039,187.75z"/>
                        <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M1017.82,209.049
                            c45.688-3.421,91.599-5.217,137.517-5.229"/>
                        <path id="blue-arc" fill="none" stroke="#4239A2" stroke-width="5" stroke-miterlimit="10" d="M696.839,259.091
                            c98.758-23.771,200.452-39.502,302.802-48.595"/>
                        <path id="red-arc" fill="none" stroke="#EE2D24" stroke-width="5" stroke-miterlimit="10" d="M446.356,347.548
                            c18.996-11.553,41.012-19.418,61.98-28.854c19.919-7.866,39.839-15.731,59.759-22.811c16.773-5.506,32.501-11.012,50.321-14.158
                            c19.921-7.865,39.841-12.584,60.681-18.119"/>
                        <path id="green-arc" fill="none" stroke="#008D36" stroke-width="5" stroke-miterlimit="10" d="M283.81,479.61
                            c11.194-17.188,26.777-32.944,42.359-49.576c31.165-29.766,66.781-51.649,103.947-74.057"/>
                        <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M258.588,566.717
                            c-0.604-16.565,1.871-33.159,7.18-49.243c4.302-13.032,10.438-25.711,18.041-37.862"/>
                        <ellipse stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="687.287" cy="260.665" rx="7.896" ry="5.709"/>
                        <ellipse stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="439.056" cy="349.908" rx="7.893" ry="5.709"/>
                        <ellipse fill="#2980B9" stroke="#2980B9" stroke-width="6" stroke-miterlimit="10" cx="263.13" cy="523.164" rx="7.894" ry="5.709"/>
                        <ellipse fill="#2980B9" stroke="#2980B9" stroke-width="6" stroke-miterlimit="10" cx="1009.927" cy="209.049" rx="7.893" ry="5.709"/>
                        <line id="green-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="12.1388,12.1388" x1="505.742" y1="475.768" x2="1280.056" y2="475.768"/>
                        <line id="red-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.6944,11.6944" x1="843.635" y1="348.445" x2="1373.551" y2="348.445"/>
                        <line id="blue-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.7007,11.7007" x1="998.059" y1="238.374" x2="1441.547" y2="238.374"/>
                        <text transform="matrix(4.489659e-011 -1 1 4.489659e-011 224.3557 447.6572)" font-family="'MicrosoftSansSerif'" font-size="30">Доходность, (%)</text>
                        <text transform="matrix(1.0505 0 0 1 704.0002 607)" font-family="'MicrosoftSansSerif'" font-size="30">Уровень риска</text>
                        <text transform="matrix(1.0635 0 0 1 283.8098 535.7119)" fill="#2980B9" font-family="'MicrosoftSansSerif'" font-size="27">Депозиты</text>
                        <text transform="matrix(1 0 0 1 1028.0002 230)" fill="#2980B9" font-family="'MicrosoftSansSerif'" font-size="27">Акции</text>
                        <text id="green-text" class="cursor-type" transform="matrix(1 0 0 1 371.7668 412.0332)">
                            <tspan x="0" y="0" font-family="'MicrosoftSansSerif'" font-size="22">100% </tspan>
                            <tspan x="-9.644" y="22.8" font-family="'MicrosoftSansSerif'" font-size="22">защиты </tspan>
                            <tspan x="-16.054" y="45.601" font-family="'MicrosoftSansSerif'" font-size="22">капитала</tspan>
                        </text>
                        <text id="red-text" class="cursor-type" transform="matrix(1 0 0 1 539.2268 326.1182)" font-family="'MicrosoftSansSerif'" font-size="22">С участием</text>
                        <text id="blue-text" class="cursor-type" transform="matrix(1 0 0 1 803.6711 255.7998)" font-family="'MicrosoftSansSerif'" font-size="22">Рисковые</text>
                        <text transform="matrix(0.9867 -0.3605 0.3432 0.9393 501.9524 429.5771)" fill="#FFFFFF" font-family="'MicrosoftSansSerif'" font-size="24.0008">СТРУКТУРНЫЕ ПРОДУКТЫ</text>
                        <g>
                            <path id="blue-button" type="button" ng-click="filterByType('Высокий', $event)" class="cursor-type" fill="white" stroke="#3D1B65" stroke-width="3" stroke-miterlimit="10" d="M1724.015,272.01
                                c-8.312,6.004-20.04,8.84-23.618,8.85c-68.306,0-136.611,0-204.917,0c-3.581-0.01-15.309-2.846-23.619-8.85
                                c-32.423-22.546-32.423-68.062,0-90.608c8.312-6.003,20.039-8.84,23.619-8.849c68.306,0,136.611,0,204.917,0
                                c3.578,0.01,15.307,2.845,23.618,8.849C1756.436,203.947,1756.437,249.464,1724.015,272.01z"/>
                            <circle id="blue-button-circle" type="button" ng-click="filterByType('Высокий', $event)" class="cursor-type" fill="#FFFFFF" stroke="#3D1B65" stroke-width="3" stroke-miterlimit="10" cx="1696.563" cy="226.706" r="52.459"/>
                        </g>
                        <g>
                            <path id="red-button" ng-click="filterByType('Средний', $event)" class="cursor-type" fill="white" stroke="#EE2924" stroke-width="3" stroke-miterlimit="10" d="M1650.338,395.024
                                c-8.311,6.003-20.038,8.839-23.616,8.849c-68.307,0-136.612,0-204.918,0c-3.578-0.01-15.306-2.846-23.616-8.849
                                c-32.424-22.546-32.425-68.063-0.003-90.608c8.312-6.004,20.04-8.84,23.619-8.85c68.306,0,136.612,0,204.918,0
                                c3.579,0.01,15.307,2.846,23.619,8.85C1682.761,326.962,1682.762,372.479,1650.338,395.024z"/>
                            <circle id="red-button-circle" ng-click="filterByType('Средний', $event)" class="cursor-type" fill="#FFFFFF" stroke="#EE2924" stroke-width="3" stroke-miterlimit="10" cx="1621.566" cy="349.72" r="52.459"/>
                        </g>
                        <g>
                            <path id="green-button" ng-click="filterByType('Низкий', $event)" class="cursor-type" fill="white" stroke="#3FB564" stroke-width="3" stroke-miterlimit="10" d="M1560.411,522.53
                                c-8.313,6.005-20.04,8.84-23.618,8.85c-68.307,0-136.611,0-204.918,0c-3.58-0.01-15.305-2.845-23.618-8.85
                                c-32.421-22.546-32.421-68.063,0.003-90.608c8.309-6.002,20.037-8.839,23.615-8.849c68.306,0,136.612,0,204.918,0
                                c3.578,0.01,15.306,2.847,23.615,8.849C1592.831,454.468,1592.832,499.984,1560.411,522.53z"/>
                            <circle id="green-button-circle" ng-click="filterByType('Низкий', $event)" class="cursor-type" fill="#FFFFFF" stroke="#3FB564" stroke-width="3" stroke-miterlimit="10" cx="1532.959" cy="477.227" r="52.458"/>
                        </g>
                        <text id="blue-button-text" class="cursor-type" transform="matrix(1 0 0 1 1490.259 232.5859)" font-family="'MicrosoftSansSerif'" font-size="27">Рисковые</text>
                        <text id="red-button-text" class="cursor-type" transform="matrix(1 0 0 1 1404.0129 353.9463)" font-family="'MicrosoftSansSerif'" font-size="27">С участием</text>
                        <text id="green-button-text" class="cursor-type" transform="matrix(1 0 0 1 1306.0315 467.751)"><tspan x="0" y="0" font-family="'MicrosoftSansSerif'" font-size="27">100% защиты </tspan><tspan x="28.628" y="32.399" font-family="'MicrosoftSansSerif'" font-size="27">капитала</tspan></text>
                        <text transform="matrix(1 0 0 1 1690.5676 236.373)" font-family="'Myriad-Roman'" font-size="31">1</text>
                        <text transform="matrix(1 0 0 1 1614.7786 359.832)" font-family="'Myriad-Roman'" font-size="31">1</text>
                        <text transform="matrix(1 0 0 1 1526.259 485.6387)" font-family="'Myriad-Roman'" font-size="31">1</text>
                </svg>
            </div>
<!--            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="margin-bottom-10">
                        <button id="blue-button" class="blue-button main-button" type="button" ng-click="filterByType('Высокий', $event)">
                            <div class="side-text-title">
                                Рисковые структурные продукты
                                <br>
                                <span class="side-text-num num-blue">{{highRiskProducts}}</span>
                                <br>
                                <a href="">
                                    <span class="side-text-more">подробнее</span>
                                </a>
                            </div>
                        </button>
                    </li>
                    <li class="margin-bottom-10">
                        <button id="red-button" class="red-button main-button" ng-click="filterByType('Средний', $event)">
                            <div class="side-text-title">
                                Структурные продукты с участием
                                <br>
                                <span class="side-text-num num-red">{{middleRiskProducts}}</span>
                                <br>
                                <a href="">
                                    <span class="side-text-more">подробнее</span>
                                </a>
                            </div>
                        </button>
                    </li>
                    <li class="margin-bottom-10">
                        <button id="green-button" class="green-button main-button" ng-click="filterByType('Низкий', $event)">
                            <div class="side-text-title">
                                Структурные продукты со 100% защиты капитала
                                <br>
                                <span class="side-text-num num-green">{{lowRiskProducts}}</span>
                                <br>
                                <a href="">
                                    <span class="side-text-more">подробнее</span>
                                </a>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>-->
        </div>
        <div >
            <div class="col-md-8">
                <div class="table-full">
                    <table class="table main-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <a href="" ng-click="order('name')">Название</a>
                                <!--<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>-->
                            </th>
                            <th>
                                Базовый актив
                            </th>
                            <th>
                                <a href="" ng-click="order('profit')">Доходность</a>
                                <!--<span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>-->
                            </th>
                            <th>
                                Cумма инвестиций
                            </th>
                            <th>Срок</th>
                            <th>Провайдер</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="val in products | orderBy:predicate:reverse">
                            <td>{{$index + 1}}</td>
                            <td>{{val.name}}</td>
                            <td>{{val.underlaying.name}}</td>
                            <td>{{val.returnValue.count}}%</td>
                            <td>от {{val.investment.min}} до {{val.investment.max}} тысяч рублей</td>
                            <td>от {{val.term.min}} до {{val.term.max}} месяцев</td>
                            <td>{{val.issuer.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-min">
                    <table class="table main-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <a href="" ng-click="order('name')">Название</a>
                                <!--<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>-->
                            </th>
                            <th>
                                <a href="" ng-click="order('profit')">Доходность</a>
                                <!--<span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>-->
                            </th>
                            <th>
                                Cумма инвестиций
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="val in products | orderBy:predicate:reverse">
                            <td>{{$index + 1}}</td>
                            <td>{{val.name}}</td>
                            <td>{{val.returnValue.count}}%</td>
                            <td>от {{val.investment.min}} до {{val.investment.max}} тысяч рублей</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="resources/css/investproduct.css">