<link rel="stylesheet" href="resources/assets/css/pages/page_invoice.css">

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Выбрать инвестиционный продукт</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Выбрать инвестиционный продукт</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="screen-height-95">
        <div class="height-50">
            <div class="col-md-8 no-padding-column">
                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="1121px" height="467px" viewBox="197.002 147.453 1121 467"
                     enable-background="new 197.002 147.453 1121 467" class="graphic" xml:space="preserve">
                        <style type="text/css"><![CDATA[
                           .line {
                            visibility: hidden;
                        }
                        .cursor-type {
                            cursor: pointer;
                        }
                        ]]></style>
                        <g>
                            <g>

                                    <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="237.086" y1="153.805" x2="237.086" y2="578.92"/>
                                <g>
                                    <polygon points="227.083,167.093 230.04,167.861 237.086,154.024 244.132,167.861 247.088,167.093 237.086,147.453 			"/>
                                </g>
                            </g>
                        </g>
                        <g>
                            <g>

                                    <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="1231.285" y1="578.92" x2="237.086" y2="578.92"/>
                                <g>
                                    <polygon points="1213.76,571.415 1212.748,573.634 1230.996,578.92 1212.748,584.206 1213.76,586.423 1239.662,578.92 			"/>
                                </g>
                            </g>
                        </g>

                        <path id="main-ellipse" class="main-selectable" fill="#2ea0d9" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M591.317,259.707
                            c199.411-75.976,383.861-103.895,411.977-62.36c28.118,41.536-110.744,136.798-310.157,212.773
                            c-199.411,75.977-383.861,103.896-411.977,62.359C253.042,430.944,391.903,335.683,591.317,259.707z"/>

                        <path class="cursor-type" id="green-ellipse" fill="#2ea0d9" d="M331.111,393.31
                            c42.697-33.092,90.679-50.209,107.17-38.233c16.492,11.978-4.752,48.512-47.45,81.604c-42.698,33.092-90.68,50.21-107.171,38.233
                            C267.169,462.938,288.413,426.401,331.111,393.31z"/>
                        <path class="cursor-type" id="red-ellipse" fill="#2ea0d9" d="M546.906,279.022
                            c66.604-22.315,127.673-28.518,136.401-13.854c8.729,14.664-38.185,44.642-104.788,66.958
                            c-66.603,22.316-127.671,28.519-136.402,13.854C433.388,331.316,480.303,301.339,546.906,279.022z"/>
                        <path class="cursor-type" id="blue-ellipse" fill="#2ea0d9" d="M838.04,187.75
                            c84.222-15.435,156.987-11.215,162.525,9.424s-58.249,49.884-142.469,65.319c-84.223,15.435-156.986,11.215-162.525-9.424
                            C690.033,232.429,753.818,203.185,838.04,187.75z"/>

                        <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M1017.82,209.049
                            c45.688-3.421,91.598-5.217,137.516-5.229"/>
                        <path id="blue-arc" class="cursor-type" fill="none" stroke="#4239A2" stroke-width="5" stroke-miterlimit="10" d="M696.839,259.091
                            c98.758-23.771,200.453-39.502,302.802-48.595"/>
                        <path id="red-arc" class="cursor-type" fill="none" stroke="#EE2D24" stroke-width="5" stroke-miterlimit="10" d="M446.356,347.548
                            c18.996-11.553,41.012-19.418,61.98-28.855c19.919-7.866,39.839-15.731,59.759-22.81c16.774-5.506,32.501-11.012,50.322-14.158
                            c19.92-7.865,39.84-12.584,60.68-18.119"/>
                        <path id="green-arc" class="cursor-type" fill="none" stroke="#008D36" stroke-width="5" stroke-miterlimit="10" d="M283.81,479.61
                            c11.194-17.188,26.777-32.944,42.359-49.576c31.165-29.765,66.781-51.649,103.948-74.056"/>
                        <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M258.588,566.717
                            c-0.604-16.566,1.871-33.159,7.18-49.243c4.302-13.033,10.438-25.711,18.041-37.863"/>
                        <ellipse stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="687.288" cy="260.665" rx="7.895" ry="5.709"/>
                        <ellipse stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="439.056" cy="349.908" rx="7.893" ry="5.709"/>
                        <ellipse stroke="#2980b9" fill="#2980b9" stroke-width="6" stroke-miterlimit="10" cx="263.13" cy="523.164" rx="7.894" ry="5.709"/>
                        <ellipse stroke="#2980b9" fill="#2980b9" stroke-width="6" stroke-miterlimit="10" cx="1009.927" cy="209.049" rx="7.893" ry="5.709"/>

                        <line id="green-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="12.1388,12.1388" x1="512.743" y1="473.768" x2="1510.705" y2="473.768"/>
                        <line id="red-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.6944,11.6944" x1="844.635" y1="344.445" x2="1510.851" y2="344.445"/>
                        <line id="blue-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.7007,11.7007" x1="990.059" y1="240.374" x2="1510.851" y2="240.374"/>

                        <text transform="matrix(4.489659e-011 -1 1 4.489659e-011 224.3562 447.6572)" font-family="'MicrosoftSansSerif'" font-size="30">Доходность, (%)</text>
                        <text transform="matrix(1.0505 0 0 1 704 607)" font-family="'MicrosoftSansSerif'" font-size="30">Уровень риска</text>
                        <text transform="matrix(1.0635 0 0 1 283.8098 535.7119)" font-family="'MicrosoftSansSerif'" fill="#2980b9" font-size="27">Депозиты</text>
                        <text transform="matrix(1 0 0 1 1028 230)" font-family="'MicrosoftSansSerif'" fill="#2980b9" font-size="27">Акции</text>
                        <text id="green-text" class="cursor-type" transform="matrix(1 0 0 1 371.7668 412.0332)">
                            <tspan x="0" y="0" font-family="'MicrosoftSansSerif'" font-size="22">100% </tspan>
                            <tspan x="-9.644" y="22.8" font-family="'MicrosoftSansSerif'" font-size="22">защиты </tspan>
                            <tspan x="-16.054" y="45.601" font-family="'MicrosoftSansSerif'" font-size="22">капитала</tspan>
                        </text>
                        <text id="red-text" class="cursor-type" transform="matrix(1 0 0 1 539.2273 326.1182)" font-family="'MicrosoftSansSerif'" font-size="22">С участием</text>
                        <text id="blue-text" class="cursor-type" transform="matrix(1 0 0 1 803.6716 255.8)" font-family="'MicrosoftSansSerif'" font-size="22">Рисковые</text>
                        <text transform="matrix(0.9867 -0.3605 0.3432 0.9393 501.9524 429.5771)" fill="white" font-family="'MicrosoftSansSerif'" font-size="24">СТРУКТУРНЫЕ ПРОДУКТЫ</text>


                </svg>
                <svg version="1.1" id="chart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="1121px" height="467px">
                </svg>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="margin-bottom-10">
                        <button id="blue-button" class="blue-button main-button" type="button" ng-click="filterByType('Высокий', $event)">
                            <div class="side-text-title">
                                Рисковые структурные продукты
                                <br>
                                <span class="side-text-num num-blue">{{highRiskProducts}}</span>
                                <br>
                                <a href="">
                                    <span class="side-text-more">подробнее</span>
                                </a>
                            </div>
                        </button>
                    </li>
                    <li class="margin-bottom-10">
                        <button id="red-button" class="red-button main-button" ng-click="filterByType('Средний', $event)">
                            <div class="side-text-title">
                                Структурные продукты с участием
                                <br>
                                <span class="side-text-num num-red">{{middleRiskProducts}}</span>
                                <br>
                                <a href="">
                                    <span class="side-text-more">подробнее</span>
                                </a>
                            </div>
                        </button>
                    </li>
                    <li class="margin-bottom-10">
                        <button id="green-button" class="green-button main-button" ng-click="filterByType('Низкий', $event)">
                            <div class="side-text-title">
                                Структурные продукты со 100% защиты капитала
                                <br>
                                <span class="side-text-num num-green">{{lowRiskProducts}}</span>
                                <br>
                                <a href="">
                                    <span class="side-text-more">подробнее</span>
                                </a>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="height-50">-->
            <!--<div class="col-md-8">-->
                <!--<div class="table-full">-->
                    <!--<table class="table main-table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>-->
                                <!--<a href="" ng-click="order('name')">Название</a>-->
                                <!--&lt;!&ndash;<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>&ndash;&gt;-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--Базовый актив-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<a href="" ng-click="order('profit')">Доходность</a>-->
                                <!--&lt;!&ndash;<span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>&ndash;&gt;-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--Cумма инвестиций-->
                            <!--</th>-->
                            <!--<th>Срок</th>-->
                            <!--<th>Провайдер</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="val in products | orderBy:predicate:reverse">-->
                            <!--<td>{{$index + 1}}</td>-->
                            <!--<td>{{val.name}}</td>-->
                            <!--<td>{{val.underlaying.name}}</td>-->
                            <!--<td>{{val.returnValue.count}}%</td>-->
                            <!--<td>от {{val.investment.min}} до {{val.investment.max}} тысяч рублей</td>-->
                            <!--<td>от {{val.term.min}} до {{val.term.max}} месяцев</td>-->
                            <!--<td>{{val.issuer.name}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div class="table-min">-->
                    <!--<table class="table main-table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>-->
                                <!--<a href="" ng-click="order('name')">Название</a>-->
                                <!--&lt;!&ndash;<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>&ndash;&gt;-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<a href="" ng-click="order('profit')">Доходность</a>-->
                                <!--&lt;!&ndash;<span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>&ndash;&gt;-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--Cумма инвестиций-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="val in products | orderBy:predicate:reverse">-->
                            <!--<td>{{$index + 1}}</td>-->
                            <!--<td>{{val.name}}</td>-->
                            <!--<td>{{val.returnValue.count}}%</td>-->
                            <!--<td>от {{val.investment.min}} до {{val.investment.max}} тысяч рублей</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<link rel="stylesheet" href="resources/css/investproduct.css">