<!DOCTYPE html>

<!--=== Slider ===-->
<div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto;">
    <!-- First slide -->
    <div class="ls-slide" data-ls="slidedelay:2500;transition2d:25;">
        <img src="resources/img/bg1.jpg" class="ls-bg" alt="Slide background">
    </div>

    <!--Second Slide-->
    <div class="ls-slide" data-ls="transition2d:93;">
        <img src="resources/img/18.jpg" class="ls-bg" alt="Slide background">
    </div>

    <!--Third Slide-->
    <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
        <img src="resources/img/bg2.jpg" class="ls-bg" alt="Slide background">
    </div>
    <!--End Third Slide-->
</div><!--/layer_slider-->
<!--=== End Slider ===-->

<!--=== Content ===-->
<div class="container content-sm">

    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-20">
        <h2>Наши сервисы</h2>
        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div><!--/Headline Center V2-->

    <!-- Service Blocks -->
    <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default main-button-with-top">
                <img class="service-block-img" alt="" src="resources/img/search_for_invest.png">
                <h2 class="heading-sm" style="margin:20px 30px; font-size: 20px !important;">Выбрать свой
                    инвестиционный продукт</h2>
                <button type="button" class="main-page-button" ng-click="gotoAnchorAnimated('anchortop')">
                    <h3>Топ-5</h3>
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default">
                <img class="service-block-img" alt="" src="resources/img/puzzle.png">
                <h2 class="heading-md">Создать свой инвестиционный продукт</h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default">
                <!--<img class="service-block-img" alt="" src="resources/img/portfel.png">-->
                <h2 class="heading-md">Скоро новая возможность<br><br></h2>
            </div>
        </div>
    </div>
    <!-- End Service Blokcs -->

    <hr class="devider page-divider">

    <!-- Info Blokcs -->
    <div class="row margin-bottom-40">

        <div id="anchortop" class="col-md-6 md-margin-bottom-40">
            <div class="headline"><h2>Топ-5 продуктов</h2></div>

            <div class="panel-body select-table-body">
                <div class="col-md-4">
                    <label for="byTimeType"> Лучшие продукты: </label><br>
                    <select id="byTimeType" ng-model="data.timeType" ng-change="topProductsChange()">
                        <option ng-repeat="val in data.timeTypes" value="{{val}}">{{val}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="byProductType"> По типу: </label><br>
                    <select id="byProductType" ng-model="data.productType" ng-change="topProductsChange()">
                        <option ng-repeat="val in data.productTypes" value="{{val}}">{{val}}</option>
                    </select>
                </div>
            </div>

            <!--Basic Table-->
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Банк</th>
                    <th>Вложения</th>
                    <th>Доля</th>
                    <th>Срок</th>
                    <th>Тип продукта</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="val in topProducts">
                        <td>{{$index + 1}}</td>
                        <td>{{val.name}}</td>
                        <td>{{val.bank}}</td>
                        <td>{{val.invest}}</td>
                        <td>{{val.participation}}</td>
                        <td>{{val.date}}</td>
                        <td>{{val.productType}}</td>
                    </tr>
                </tbody>
            </table>
            <!--End Basic Table-->
        </div>
        <!-- End Latest -->

        <!-- Ideas -->
        <div class="col-md-6 md-margin-bottom-40">

            <div class="headline"><h2>Инвестиционные идеи наших партнеров</h2></div>

            <!-- Accordion -->
            <div id="accordion-v1" class="panel-group acc-v1">

                <div ng-repeat="val in data.investideas">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="" ng-click="accordion.select('accordion-v1', 'collapse' + $index)" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                    <b>{{val.header}}</b><span class="results-number" style="font-size: 14px; float: right">{{val.date | date:'dd.MM.yyyy'}}, {{val.company}}</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" ng-if="accordion.isSelected('accordion-v1', 'collapse' + $index)">
                            <div class="panel-body">
                                {{val.preview}}
                                <br>
                                <i class="fa fa-angle-right color-blue"></i> <a href="#/investidea?id={{val.id}}">Читать подробнее.</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Accordion -->
        </div>
        <!-- End Ideas -->
    </div><!--/row-->
    <!-- End Info Blokcs -->
</div>
<!--=== End Content ===-->