<!DOCTYPE html>

<!--=== Slider ===-->
<div id="layerslider" style="width: 100%;height: 500px; margin: 0px auto;">
    <!-- First slide -->
    <div class="ls-slide" data-ls="slidedelay:2500;transition2d:25;">
        <img src="resources/img/bg1.jpg" class="ls-bg" alt="Slide background">
    </div>

    <!--Second Slide-->
    <div class="ls-slide" data-ls="transition2d:93;">
        <img src="resources/img/18.jpg" class="ls-bg" alt="Slide background">
    </div>

    <!--Third Slide-->
    <div class="ls-slide"style="slidedirection: right;transition2d: 92,93,105;">
        <img src="resources/img/bg2.jpg" class="ls-bg" alt="Slide background">
    </div>
    <!--End Third Slide-->
</div><!--/layer_slider-->
<!--=== End Slider ===-->

<!--=== Content ===-->
<div class="container content-sm">

    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-20">
        <h2>Наши сервисы</h2>
        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div><!--/Headline Center V2-->

    <!-- Service Blocks -->
    <div class="margin-bottom-20"></div>
    <div class="row margin-bottom-40">
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default main-button-with-top">
                <i class="icon-custom rounded-x icon-bg-dark fa fa-search"></i>
                <h2  class="heading-sm invest-button">Выбрать инвестиционный продукт</h2>
                <button type="button" class="main-page-button" ng-click="go('/products')">

                    <h3 class="top-five-button"><i class="fa fa-angle-right"></i>Топ-5</h3>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default">
                <i class="icon-custom rounded-x icon-bg-dark fa fa-briefcase"></i>
                <h2 class="heading-md">Создать свой инвестиционный продукт</h2>
                <p>Воспользуйтесь уникальным инструментом,
                    чтобы создать свой структурный продукт.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default">
                <i class="icon-custom rounded-x icon-bg-dark fa fa-question"></i>
                <h2 class="heading-md">Функция в разработке</h2>
                <p></p>
            </div>
        </div>
    </div>

    <!-- Service Blocks --
    <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default main-button-with-top">
                <img class="service-block-img" alt="" src="resources/img/search_for_invest.png">
                <h2 class="heading-sm" style="margin:20px 30px; font-size: 20px !important;">Выбрать свой
                    инвестиционный продукт</h2>
                <button type="button" class="main-page-button" ng-click="gotoAnchorAnimated('anchortop')">
                    <h3>Топ-5</h3>
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default">
                <img class="service-block-img" alt="" src="resources/img/puzzle.png">
                <h2 class="heading-md">Создать свой инвестиционный продукт</h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-default">
                !--<img class="service-block-img" alt="" src="resources/img/portfel.png">--
                <h2 class="heading-md">Скоро новая возможность<br><br></h2>
            </div>
        </div>
    </div>
    <!-- End Service Blokcs -->

</div>
<!--=== End Content ===-->