<!DOCTYPE html>

<link rel="stylesheet" href="resources/assets/css/pages/page_invoice.css">

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">News</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">News</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="row invoice-header">
    <div class="col-xs-6">
        <img src="resources/assets/img/img.jpg" alt="">
        <!--<h2 class="pull-left">Cisco</h2>-->
    </div>
    <div class="col-xs-6 invoice-numb">
        20, October 2013
    </div>
</div>

<div class="clearfix margin-bottom-30"></div>
<div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <h2>One Template Endless Possibilities</h2>
        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
    </div>
</div>

<div class="clearfix margin-bottom-40"></div>