<!DOCTYPE html>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Clients</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Наши партнеры</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


    <div class="container content">
        <div class="row">
            <div class="col-md-9">
                <div class="headline"><h2>Наши партнеры</h2></div>

                <!-- Clients Block-->
                <div class="row clients-rows">
                    <div class="col-md-2">
                        <img src="resources/img/baderbrau.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Ай Ти Инвест</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.itinvest.ru</a></li>
                        </ul>
                        <p>Лицензированный брокер с 2000 года.Работаем по всей России. Рейтинг надежности АА+</p>
                    </div>
                </div>

                <div class="row clients-rows">
                    <div class="col-md-2">
                        <img src="resources/img/bellfield.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Открытие брокер</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://open-broker.ru</a></li>
                        </ul>
                        <p>Максимальный рейтинг надёжности «ААА» по версии Национального рейтингового агентства, который ежегодно подтверждается с 2010 года5</p>
                    </div>
                </div>

                <div class="row clients-rows">
                    <div class="col-md-2">
                        <img src="resources/img/emirates.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Финам</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.finam.ru/</a></li>
                        </ul>
                        <p>На своем сайте брокер «ФИНАМ» предлагает инвесторам оперативную подачу информации, различные площадки для дискуссий, удобный функционал.</p>
                        <p>При этом на Finam.ru публикуются не только исследования брокера «ФИНАМ», но и данные, которые предоставляют другие участники рынка ценных бумаг - инвестиционные компании Москвы и регионов.
                            Сайт содержит как новостную, так и образовательную информацию. На сайте интернет-брокера Finam.ru вы узнаете о том, что такое фондовая биржа и ценные бумаги, что влияет на стоимость акций,
                            как работают фондовая биржа РТС, ММВБ, Московская фондовая биржа, как купить акции Газпрома или Сбербанка. Кроме того, сайт «ФИНАМ» расскажет, как, по прогнозам аналитиков,
                            стоимость ценных бумаг может измениться в перспективе, что делать с бумагами, когда они падают в цене, или когда цена акций начинает стремительно расти.</p>
                    </div>
                </div>

                <div class="row clients-rows">
                    <div class="col-md-2">
                        <img src="resources/img/inspiring.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3>Game Cast TV</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> Финансовая группа БКС</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://bcs.ru</a></li>
                        </ul>
                        <p>Финансовая группа БКС работает на российском рынке с 1995 года.
                            Мы создали свой бизнес для того, чтобы помочь клиентам в эффективном управлении финансами.
                            Мы развиваем технологии и продукты, анализируем огромный объем информации каждый день, разрабатываем новые инвестиционные стратегии для того, чтобы наши клиенты становились
                            богаче и свободнее.</p>
                    </div>
                </div>
                <!-- End Clients Block-->
            </div><!--/col-md-9-->
        </div>
    </div>