<!DOCTYPE html>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Список продуктов</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a></li>
            <li class="active">Список продуктов</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container content-sm">
<!-- Info Blokcs -->
<div class="row margin-bottom-40">

    <div class="col-md-6 md-margin-bottom-40">
        <div class="headline"><h2>Топ-5 продуктов</h2></div>

        <div class="panel-body select-table-body">
            <div class="col-md-4">
                <label for="byTimeType"> Лучшие продукты: </label><br>
                <select id="byTimeType" ng-model="data.timeType" ng-change="topProductsChange()">
                    <option ng-repeat="val in data.timeTypes" value="{{val}}">{{val}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="byProductType"> По типу: </label><br>
                <select id="byProductType" ng-model="data.productType" ng-change="topProductsChange()">
                    <option ng-repeat="val in data.productTypes" value="{{val}}">{{val}}</option>
                </select>
            </div>
        </div>

        <!--Basic Table-->
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Банк</th>
                <th>Вложения</th>
                <th>Доля</th>
                <th>Срок</th>
                <th>Тип продукта</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in topProducts">
                <td>{{$index + 1}}</td>
                <td>{{val.name}}</td>
                <td>{{val.bank}}</td>
                <td>{{val.invest}}</td>
                <td>{{val.participation}}</td>
                <td>{{val.date}}</td>
                <td>{{val.productType}}</td>
            </tr>
            </tbody>
        </table>
        <!--End Basic Table-->
    </div>
    <!-- End Latest -->

    <!-- Ideas -->
    <div class="col-md-6 md-margin-bottom-40">

        <div class="headline"><h2>Инвестиционные идеи наших партнеров</h2></div>

        <!-- Accordion -->
        <div id="accordion-v1" class="panel-group acc-v1">

            <div ng-repeat="val in data.investideas">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="" ng-click="accordion.select('accordion-v1', 'collapse' + $index)" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                <b>{{val.header}}</b><span class="results-number invest-idea-header">{{val.date | date:'dd.MM.yyyy'}}, {{val.company}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" ng-if="accordion.isSelected('accordion-v1', 'collapse' + $index)">
                        <div class="panel-body">
                            {{val.preview}}
                            <br>
                            <i class="fa fa-angle-right color-blue"></i> <a href="#/investidea?id={{val.id}}">Читать подробнее.</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Accordion -->
    </div>
    <!-- End Ideas -->
</div><!--/row-->
<!-- End Info Blokcs -->
</div>