<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/admin">Страница Администратора</a></li>
        </ul>
    </div>
</div>
<div class="container content-sm">
    <!--<div ng-include="'views/template/admin-menu.htm'" onload="$('#broker').attr('active', true)"></div>-->
    <div ng-include="'views/template/admin-menu.htm'" onload=""></div>

    <div class="row">
        <div class="col-md-6">
            <h2 ng-show="mode === 'add'">Добавить:</h2>
            <h2 ng-show="mode === 'modify'">Редактировать:</h2>
            <form id="broker-form">
                <div class="form-group">
                    <label for="broker-name">Имя брокера</label>
                    <input type="text" class="form-control" id="broker-name"/>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="broker-logo">Логотип брокера</label>
                        <input type="file" id="broker-logo" class="form-control" onchange="angular.element(this).scope().onImgChanged(this)"/>
                    </div>
                    <div class="form-group col-md-4">
                        <img id="broker-logo-preview" width="250" src=""/>
                    </div>
                </div>
                <div class="row">
                    <b>Email:</b>
                </div>
                <div id="emails" ng-repeat="email in emails track by email.id">
                    <div class="row">
                        <div class="form-group col-md-1">
                            {{email.num}}
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control" ng-value="email.email" ng-change="onModifyEmail({{email.num}}, emailVal)" ng-model="emailVal" id="broker-email"/>
                        </div>
                        <button ng-show="email.num==1" class="btn" ng-click="onAddEmailClick()">+</button>
                    </div>
                </div>
            </form>
            <button class="btn-primary" id="actionbtn" ng-click="onAddClick()">Добавить</button>
            <button class="btn-primary" ng-show="mode === 'modify'" id="cancelbtn" ng-click="cancel()">Отмена</button>
        </div>
        <div class="col-md-4">
            <div id="accordion-v1" class="panel-group acc-v1">
                <div ng-repeat="broker in brokers">
                    <div class="panel panel-default">
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <b>Имя брокера:</b>
                                {{broker.name}}
                                <br/>
                                <b>Логотип:</b>
                                <br/>
                                <img width="250" ng-src="{{broker.logo}}">
                                <br/>
                                <b>Почта:</b>
                                <br/>
                                <div ng-repeat="email in broker.emails">
                                    {{email.email}}
                                    <br/>
                                </div>
                                <br/>
                                <button class="btn-primary" ng-click="modifyBroker(broker)">Редактировать</button>
                                <button class="btn-primary" ng-click="removeBroker(broker)">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>