<!DOCTYPE html>
<html lang="en">

<head>

    <title>Structured Products</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <script src="resources/lib/jquery.js"></script>
    <script src="resources/lib/angular.min.js"></script>
    <script src="resources/lib/angular-route.min.js"></script>
    <script src="resources/lib/bootstrap.min.js"></script>

    <script src="resources/js/controller.js"></script>

</head>

<body ng-app="app" ng-cloak class="ng-cloak">

    <div ng-controller="main">
        <h1>The Site is under construction.</h1>
    </div>

</body>

</html>
