.frame {
    border: 2px solid;
    border-color: #2ea0d9;
    padding: 10px;
    background: #d8e3f1;
    margin-top: 10px;
}

.white {
    background: #fcfcfc;
}

.one-page h1, .one-page h2 {
    color: #555 !important;
}

.one-page p {
    color: #555 !important;
}

.grey {
    background: #efefef;
}

.content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.one-page .one-page-inner {
    padding: 0 !important;
    min-height: 0 !important;
}

.custom-h3 {
    color: #555;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 27px;
}

.hr-style {
    margin-top: 10px;
    margin-bottom: 0;
}

.cursor-type {
    cursor: pointer;
}

.row {
    margin-top: 15px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}