<!DOCTYPE html>

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">О структурных продуктах</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">О структурных продуктах</li>
        </ul>
    </div>
</div>
    <div class="one-page">
        <div class="container content">
            <div>
                <div ng-click="click('0')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('0')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('0')"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="custom-h3">Что такое структурные продукты?</span>
                </div>
                <hr class="hr-style">
            </div>
            <div class="row" ng-show="isSelected('0')">
                <div class="col-md-6">
                    <p><b>Структурные</b> или <b>структурированные продукты</b>  - комплексные финансовые инструменты,
                        состоящие из более простых (базовых) активов. По сути каждый из них представляет собой
                        «упакованную» инвестиционную стратегию.</p>
                    <p>В большинстве случаев <b>структурные продукты</b>  являются комбинациями  различных традиционных
                        финансовых инструментов, таких как:</p>
                    <p>
                    <ul>
                        <li>Депозиты</li>
                        <li>Акции</li>
                        <li>Облигации</li>
                        <li>Производные финансовые инструменты (фьючерсы, опционы и так далее)</li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-6 frame white">
                    <p>
                        <b>Пример.</b> Самый простой классический <b>структурный продукт</b> сроком на 1 год может
                        состоять из двух компонентов:
                    </p>
                    <p>
                    <ul>
                        <li>93% от вложенной суммы - депозит в банке по ставке 8% годовых</li>
                        <li>7% от вложенной суммы – купленный опцион call по фьючерсу на нефть (на рост
                            нефти)</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="container content">
            <div>
                <div ng-click="click('1')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('1')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('1')"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="custom-h3">В чем преимущества структурных продуктов?</span>
                </div>
                <hr class="hr-style">
            </div>
            <div class="row" ng-show="isSelected('1')">
                <div class="col-md-6 ">
                    <p>
                        Благодаря своей гибкости и многообразию Структурные продукты обладают следующими основными преимуществами:
                    <ul>
                        <li ><b><a href="#/investproduct">Определить</a> подходящий  <a href="" ng-click="gotoAnchorAnimated('protection')">уровень защиты первоначальных вложений</a></b> или уровень защиты капитала.</li>
                        <li ><b><a href="#/investproduct">Определить</a> удобный срок инвестирования</b> (как в банковском депозите – от нескольких
                            месяцев до нескольких лет.</li>
                        <li ><b><a href="#/investproduct">Приобрести</a> готовое инвестиционное решение –</b> Вам не нужно самостоятельно подбирать
                            и оценивать отдельные акции или другие инвестиционные активы.</li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-6 frame white ">
                    <p class="">
                        <b>Пример.</b> Вы рассчитываете на рост стоимости акций какого-либо эмитента.  У Вас 2
                        варианта:
                    </p>
                    <p>
                    <ul>
                        <li>Купить акцию данного эмитента</li>
                        <li>Купить структурный продукт на акцию со 100% защитой капитала</li>
                    </ul>
                    </p>
                    <p class="">
                        Покупая <b>структурный продукт</b> на акцию со 100% защитой капитала, Вы получаете
                        полную гарантию возврата вложенной суммы, независимо от изменения цены акции на
                        бирже. Покупая же акцию,  Вы потеряете часть капитала при снижении ее котировок
                        на бирже.
                    </p>
                </div>
            </div>
        </div>

        <div class="container content">
            <div>
                <div ng-click="click('2')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('2')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('2')"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="custom-h3">Доходность структурных продуктов</span>
                </div>
                <hr class="hr-style">
            </div>
            <div class="row" ng-show="isSelected('2')">
                <div class="col-md-6">
                    <p>
                        В большинстве случаев <b>структурные продукты</b> по показателю потенциальной доходности лежат
                        между  депозитами и более рисковыми инструментами - акциями и деривативами.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="resources/img/pages/graph.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>

        <div class="container content">
            <div>
                <div id="kind" ng-click="click('3')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('3')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('3')"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="custom-h3">Виды структурных продуктов</span>
                </div>
                <hr class="hr-style">
            </div>
            <div class="row" ng-show="isSelected('3')">
                <div class="col-md-6 ">
                    <p>
                        Существуют огромное количество вариантов комбинирования различных видов и пропорций
                        <b>финансовых инструментов</b> (акций, облигаций, фьючерсов, опционов, депозитов и так далее).
                        Поэтому на практике инвестору доступен очень широкий спектр <b>структурных продуктов</b>.
                    </p>
                    <p>
                        Мы постараемся выделить основные <b>виды структурных продуктов</b>.
                    </p>
                    <p>
                        С точки зрения <a href="" ng-click="gotoAnchorAnimated('protection')">гарантии возврата первоначальных вложений</a> можно выделить:
                    </p>
                    <p>
                    <ul>
                        <li ><b>Структурные продукты со 100% защитой капитала - </b>
                            Вам гарантируется возврат основной
                            суммы независимо от того, каким образом будет складываться цена базового актива,
                            который лежит в основе структурного продукта.
                        </li>
                        <li ><b>Структурные продукты с участием - </b>
                            Вам гарантируется  либо частичная защита
                            вложенного капитала, либо потенциально высокий доход (без защиты капитала).
                        </li>
                    </ul>
                    </p>
                    <p>
                        Также существует классификация структурных продуктов в зависимости от выбранной стратегии:
                    </p>
                    <p>
                    <ul>
                        <li ><b>Барьерные структурные продукты.</b>
                            Барьерная стратегия с защитой капитала позволяет
                            получить повышенную фиксированную ставку доходности в случае роста (или падения)
                            цены базового актива выше (или ниже) некого заранее определенного уровня -  барьера.
                            Если на момент окончания срока действия продукта цена базового актива не дойдет до
                            барьерной, то инвестор получит обратно инвестированную сумму с коэффициентом
                            защиты капитала.
                        </li>
                        <li ><b>Диапазонные структурные продукты.</b>
                            Диапазонная стратегия позволяет получить
                            повышенный инвестиционный доход в случае нахождения цены базового актива внутри
                            заданного диапазона цен. Этот финансовый продукт подходит инвесторам, желающим
                            заработать в периоды отсутствия сильных движений цен базового актива вверх или вниз,
                            то есть когда цены на активы находятся в определённом  диапазоне.
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="frame white">
                        <p class="">
                            <b>Пример.</b> Вы покупаете структурный продукт со 100% защитой капитала, который
                            привязан к стоимости золота на биржевом рынке.
                            Если золото вырастет в цене, помимо вложенной Вами суммы Вы получите доход
                            пропорциональный росту цены золота.
                            Если же золото упадет в цене, Вам гарантируется возврат полной суммы Ваших
                            первоначальных вложений.
                        </p>
                    </div>
                    <div class="frame white">
                        <p class="">
                            <b>Пример.</b> Вы покупаете структурный продукт с 80% защитой капитала.
                            гарантирует Вам возврат не менее 80% первоначальных вложений вне зависимости
                            от поведения рынка базового актива.
                            То есть, при самых неблагоприятных обстоятельствах Вы потеряете не более 20% от
                            вложенной суммы.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container content">
            <div>
                <div id="protection" ng-click="click('4')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('4')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('4')"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="custom-h3">Защита структурных продуктов</span>
                </div>
                <hr class="hr-style">
            </div>
            <div class="row" ng-show="isSelected('4')">
                <div >
                    <p>
                        Как видно из <a href="" ng-click="gotoAnchorAnimated('kind')">приведенной классификации</a>
                        <b>структурные продукты</b> могут обладать разной степенью гарантии возврата капитала.
                    </p>
                    <b>1) Полная гарантия возврата капитала</b>
                    <br/>
                    Полная защита капитала означает, что в дату окончания срока
                    Вам будет возвращена сумма вложений в продукт, даже при самом неблагоприятном сценарии.
                    <br/>
                    Таким образом, риск возникновения убытков является минимальным.
                    Более того, по некоторым продуктам гарантируется не только возврат капитала, но и выплата
                    некоторой фиксированной доходности (как по обычным депозитам), однако обычно эта доходность
                    является не очень высокой – например, 0,1% годовых.
                    <br/><br/>
                    <b>2) Частичная гарантия</b>
                    <br/>
                    Частичная защита капитала означает, что эмитент продукта гарантирует возврат определенной
                    доли капитала – например, 80% от суммы вложений – это означает, что при самом
                    неблагоприятном сценарии Вы потеряете не более  20% вложенных средств.
                    <br/>
                    Повышенный риск по таки структурным продуктам обычно компенсируется более высокой
                    потенциальной доходностью и более выгодными условиями (например, более высоким коэффициентом участия).
                    <br/><br/>
                    <b>3) Отсутствие гарантии</b>
                    <br/>
                    Отсутствие гарантии возврата капитала означает, что в самой неблагоприятной ситуации
                    инвестор может потерять 100% своего капитала.
                    <br/>
                    Отсутствие защиты капитала характерно для инвестиций в акции, ПИФы и другие
                    подобные инструменты.
                    Большинство структурированных продуктов обладает той или иной степенью защиты капитала.
                    <br/><br/>
                    <b>4) Условная гарантия</b>
                    <br/>
                    Условная защита капитала подразумевает, что Вам гарантируется полный возврат суммы вложений,
                    за исключением случаев наступления определенных обстоятельств.
                    Например, полная защита капитала гарантируется при условии, что базовый актив ни разу в
                    течение срока продукта не опустился ниже определенного уровня – например, ниже 50% от
                    своего начального значения.
                    <br/>
                    Вне зависимости от условий конкретного структурного продукта возврат капитала в
                    большинстве случаев невозможен или затруднителен при:
                    <p>
                    <ul class="list-unstyled">
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;наступлении события кредитного риска (например, дефолт эмитента);</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;возврате Вами вложенного капитала до истечения срока структурного продукта досрочном погашении.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="container content">
            <div>
                <div ng-click="click('5')" class="cursor-type">
                    <i class="fa fa-chevron-down" ng-show="isNotSelected('5')"></i>
                    <i class="fa fa-chevron-up" ng-show="isSelected('5')"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="custom-h3">Провайдеры (продавцы) структурных продуктов</span>
                </div>
                <hr class="hr-style">
            </div>
            <div class="row" ng-show="isSelected('5')">
                <div >
                    <p>
                        <b>Структурные продукты</b>, представленные на <b>xstrum.ru</b> ,
                        предлагаются нашими партнерами – ведущими российскими брокерскими компаниями
                        <a href="#/partners">(Наши партнеры)</a>.
                        Данные брокерские компании обладают всеми необходимыми лицензиями на осуществление
                        профессиональной деятельности на финансовых рынках и являются ведущими
                        операторами на рынках Московской биржи.
                    </p>
                </div>
            </div>
            <div class="center">
                <div class="main-buttons-style">
                    <div class="col-md-6 col-btn max-size-buttons">
                        <a href="#/investproduct">
                            <div class="service-block service-block-default main-button-with-top">
                                <div id="butcol">
                                    <img alt="" src="resources/img/icons/target.png">
                                    <h2 class="heading-md invest-button">Выбрать свой инвестиционный продукт</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-btn max-size-buttons">
                        <a href="#/createproduct">
                            <div class="service-block service-block-default button-height">
                                <img alt="" src="resources/img/icons/portfel.png">
                                <h2 class="heading-md">Создать индивидуальный инвестиционный продукт</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="resources/js/App/structuredproducts/structuredproducts.css">
<link rel="stylesheet" href="resources/assets/css/pages/page_one.css">