h3 {
    display: inline;
}

.main_img {
    max-width: 100%;
}

.main-buttons {
    margin-left: 22% !important;
    margin-right: 22% !important;
}

.center {
                           text-align: center;
    position: relative;
}

.right {
    text-align: right;
}

@media only screen and (min-width:992px) {
    .or-style {
        margin-top: 30px;
    }
}

.list-text {
    margin-left: 35%
}

@media only screen and (max-width:850px) {
    .list-text {
        margin-left: 20%;
    }
}

/*@media only screen and (max-width:450px) {
    .list-text {
        margin-left: 5%;
    }
}*/



@media only screen and (min-width:992px) {
    .or-style {
        margin-top: 30px;
    }
}