@media only screen and (min-width: 992px) {
    .screen-height {
        height: 90vh;
    }
}

.col1 {
    width: 65%;
}

.col2 {
    width: 35%;
}

.btn-group > .btn-u, .btn-group-vertical > .btn-u {
    float: right !important;
}

.h4-style {
    line-height: 27px;
    font-size: 20px;
    margin-right: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 10px;
}

.parameter {
    color: #2e2e2e
}

.header-text-style {
    font-size: 25px;
    text-anchor: center;
    fill: #666;
    visibility: hidden;
}

input.invalid-control {
    border-color: red;
}

.hex-style {
    cursor: pointer;
    fill: white;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.hex-text {
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: #333333;
    text-anchor: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.col-sm-6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.hr-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.opacity-style {
    opacity: 0.1;
}

.font-style {
    font-size: 17px;
    line-height: 25px;
}

.list-style {
    list-style-type: none;
}

.center {
    text-align: center;
}

.headline {
    border-bottom: none !important;
}

.error-diapason {
    border-color: #e72e29 !important;
}

.sendRequestForm {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid #e72e29;
}