@media only screen and (min-width: 992px) {
    .screen-height {
        height: 90vh;
    }
}

.col1 {
    width: 65%;
}

.col2 {
    width: 35%;
}

.btn-group > .btn-u, .btn-group-vertical > .btn-u {
    float: right !important;
}

.h4-style {
    line-height: 27px;
    font-size: 16px;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 10px;
}

.parameter {
    color: #333333
}

.hex-style {
    cursor: pointer;
    fill: white;
}

.hex-text {
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: #333333;
    text-anchor: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.col-sm-6 {
    margin-top: 15px;
}

.hr-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.opacity-style {
    opacity: 0.1;
}