<!DOCTYPE html>

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Создать индивидуальный структурный продукт</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Создать индивидуальный структурный продукт</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="screen-height">
        <div class="col-md-8 col-sm-6">
            <svg id='svg' width="100%" height="800px"></svg>
        </div>
        <div class="col-md-4 col-sm-6" id="paramsContainer">
            <div class="headline"><h2>Основные параметры</h2></div>
                <!--START PROFIT-->
                <div id="profitBlock" class="top-margin">
                    <p>
                        <h4>
                            <span class="parameter">Доходность:</span><span class="h4-style">{{profitLine}}</span>
                            <i class="fa fa-pencil-square-o fa-2 cursor-pointer" ng-click="editProfit()" ng-if="profitSaved"></i>
                        </h4>
                    </p>
                    <div ng-if="!profitSaved">
                        <div class="btn-group" uib-dropdown>
                            <span class="h4-style">От </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="profitDisabled">
                                {{fromProfit}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="prof in profits"><a ng-click="setFromProfit(prof)">{{prof}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group left-margin" uib-dropdown>
                            <span class="h4-style">До </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="profitDisabled">
                                {{toProfit}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="prof in profits"><a ng-click="setToProfit(prof)">{{prof}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-u btn-u-blue top-margin" type="button" ng-click="saveProfit()" ng-if="!profitSaved" ng-disabled="profitDisabled">Применить доходность</button>
                </div>
                <!--END PROFIT-->
                <!--START RISK-->
                <div id="riskBlock" class="top-margin opacity-style">
                    <hr class="hr-style"/>
                    <p>
                    <h4>
                        <span class="parameter">Уровень защиты:</span><span class="h4-style">{{riskLine}}</span>
                        <i class="fa fa-pencil-square-o fa-2 cursor-pointer" ng-click="editRisk()" ng-if="riskSaved"></i>
                    </h4>
                    </p>
                    <div ng-if="!riskSaved">
                        <div class="btn-group" uib-dropdown>
                            <span class="h4-style">От </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="riskDisabled">
                                {{fromRisk}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="risk in profits"><a ng-click="setFromRisk(risk)">{{risk}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group left-margin" uib-dropdown>
                            <span class="h4-style">До </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="riskDisabled">
                                {{toRisk}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="risk in profits"><a ng-click="setToRisk(risk)">{{risk}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-u btn-u-blue top-margin" type="button" ng-click="saveRisk()" ng-if="!riskSaved" ng-disabled="riskDisabled">Применить уровень защиты</button>
                </div>
                <!--END RISK-->
                <!--START TIME-->
                <div id="timeBlock" class="top-margin opacity-style">
                    <hr class="hr-style"/>
                    <p>
                    <h4>
                        <span class="parameter">Срок инвестирования:</span><span class="h4-style">{{timeLine}}</span>
                        <i class="fa fa-pencil-square-o fa-2 cursor-pointer" ng-click="editTime()" ng-if="timeSaved"></i>
                    </h4>
                    </p>
                    <div ng-if="!timeSaved">
                        <div class="btn-group" uib-dropdown>
                            <span class="h4-style">От </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="timeDisabled">
                                {{fromTime}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="time in times"><a ng-click="setFromTime(time)">{{time}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group left-margin" uib-dropdown>
                            <span class="h4-style">До </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="timeDisabled">
                                {{toTime}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="time in times"><a ng-click="setToTime(time)">{{time}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-u btn-u-blue top-margin" type="button" ng-click="saveTime()" ng-if="!timeSaved" ng-disabled="timeDisabled">Применить срок инвестирования</button>
                </div>
                <!--END TIME-->
                <!--START SUM-->
                <div id="sumBlock" class="top-margin opacity-style">
                    <hr class="hr-style"/>
                    <p>
                    <h4>
                        <span class="parameter">Сумма инвестирования:</span><span class="h4-style">{{sumLine}}</span>
                        <i class="fa fa-pencil-square-o fa-2 cursor-pointer" ng-click="editSum()" ng-if="sumSaved"></i>
                    </h4>
                    </p>
                    <div ng-if="!sumSaved">
                        <div class="btn-group" uib-dropdown>
                            <span class="h4-style">От </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="sumDisabled">
                                {{fromSum}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="sum in sums"><a ng-click="setFromSum(sum)">{{sum}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group left-margin" uib-dropdown>
                            <span class="h4-style">До </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="sumDisabled">
                                {{toSum}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="sum in sums"><a ng-click="setToSum(sum)">{{sum}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-u btn-u-blue top-margin" type="button" ng-click="saveSum()" ng-if="!sumSaved" ng-disabled="sumDisabled">Применить сумму инвестирования</button>
                </div>
                <!--END SUM-->
                <!--START OUTPUT PARAMS-->
                <hr class="hr-style"/>
                <li ng-repeat="outParam in outParams" class="list-style">
                    <h4>
                        <span class="parameter">{{outParam.text}}: </span><span class="h4-style">{{outParam.value}}</span>
                        <i class="fa fa-pencil-square-o fa-2 cursor-pointer"></i>
                    </h4>
                </li>
                <!--END OUTPUT PARAMS-->
                <!--START OTHER PARAMS-->
                <div id="otherParams">
                    <hr class="hr-style"/>
                    <span uib-dropdown>
                      <a href uib-dropdown-toggle>
                          <span class="font-style">Добавить параметр <i class="fa fa-plus fa-3"></i></span>
                      </a>
                      <ul uib-dropdown-menu>
                          <li ng-repeat="param in copyOptParams">
                              <a href ng-click="addOptParam(param)">{{param.text}}</a>
                          </li>
                      </ul>
                    </span>
                </div>
                <!--END OTHER PARAMS-->
                <!--START CURRENCY-->
                <div id="currencyBlock" class="top-margin" ng-if="currencyShow">
                    <hr class="hr-style"/>
                    <div ng-if="!currencySaved">
                        <div class="btn-group" uib-dropdown>
                            <span class="h4-style">Выбрать валюту:</span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="currencyDisabled">
                                {{currency}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="currency in currencies"><a ng-click="setCurrency(currency)">{{currency}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-u btn-u-blue top-margin" type="button" ng-click="saveCurrency()" ng-if="!currencySaved" ng-disabled="currencyDisabled">Применить валюту</button>
                </div>
                <!--END CURRENCY-->
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="resources/js/App/createproduct/createproduct.css">