<!DOCTYPE html>

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Создать индивидуальный структурный продукт</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Главная страница</a></li>
            <li class="active">Создать индивидуальный структурный продукт</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="screen-height">
        <div class="col-md-8 col-sm-6" ng-if="isDesktopShow()">
            <svg id='svg' width="100%" height="800px">
                <text class="header-text-style"  id="add-param-header"><tspan y="20">Выберите параметр для добавления: </tspan></text>
            </svg>
        </div>
        <div class="col-md-4 col-sm-6" id="paramsContainer">
            <div class="headline">
                <h2>Основные параметры</h2>
                <div ng-repeat="control in defaultControls" id="{{control.id}}" ng-class="$first ? 'top-margin' : 'top-margin opacity-style'">
                    <p>
                        <div class="h4-style">
                            <span class="parameter">{{control.header}}:</span><span class="h4-style blue-style">{{control.line}}</span>
                            <i class="fa fa-pencil-square-o fa-2 cursor-pointer" ng-click="control.edit()" ng-if="control.isSaved"></i>
                        </div>
                    </p>
                    <div ng-if="!control.isSaved">
                        <div class="btn-group" uib-dropdown>
                            <span class="h4-style">От </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="control.isDisabled">
                                {{control.fromValue}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" ng-if="control.active" uib-dropdown-menu>
                                <li ng-repeat="fromValue in control.fromValues"><a ng-click="control.setFromValue(fromValue)">{{fromValue}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group left-margin" uib-dropdown>
                            <span class="h4-style">До </span>
                            <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                                    style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                                    ng-disabled="control.isDisabled">
                                {{control.toValue}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" ng-if="control.active" uib-dropdown-menu>
                                <li ng-repeat="toValue in control.toValues"><a ng-click="control.setToValue(toValue)">{{toValue}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-u btn-u-blue top-margin" type="button" ng-click="control.save()" ng-if="!control.isSaved" ng-disabled="control.isDisabled">{{control.buttonText}}</button>
                    <hr class="hr-style"/>
                </div>
            </div>
            <!--START OTHER PARAMS-->
            <div id="optParamsControlBlock" class="opacity-style">
                <span uib-dropdown>
                  <a href uib-dropdown-toggle ng-disabled="optParamsControl.isDisabled">
                      <span class="font-style">Задать дополнительные параметры <i class="fa fa-plus fa-3"></i></span>
                  </a>
                  <ul uib-dropdown-menu>
                      <li ng-repeat="control in controls | filter: controlFilter">
                          <a href ng-click="addHex(control)">{{control.header}}</a>
                      </li>
                  </ul>
                </span>
                <br/>
                <a href="" ng-click="openModal()"><h3>Отправить заявку на создание продукта</h3></a>
                <button type="button" style="border:0; background: white" ng-click="openModal()"><img src="resources/img/send_bid.png"/></button>
            </div>
            <!--END OTHER PARAMS-->
        </div>

    </div>
</div>
<div id="optParamsContainer" ng-show="false">
    <div ng-repeat="control in controls" id="{{control.id}}"  class="top-margin">
        <p>
        <h4>
            <span class="parameter">{{control.header}}:</span><span class="h4-style">{{control.line}}</span>
            <i class="fa fa-pencil-square-o fa-2 cursor-pointer" ng-click="control.edit()" ng-if="control.isSaved"></i>
        </h4>
        </p>
        <div ng-if="!control.isSaved">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn-u btn-brd rounded btn-u-default btn-u-xs" uib-dropdown-toggle
                        style="background: none; color: #58585e; margin-left: 6px; margin-top: 2px; margin-bottom: 2px; font-size: 14px;"
                        ng-disabled="control.isDisabled">
                    {{control.value}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="value in control.values"><a ng-click="control.setValue(value)">{{value}}</a></li>
                </ul>
            </div>
        </div>
        <button class="btn-u btn-u-blue top-margin" type="button" ng-click="control.save()" ng-if="!control.isSaved">{{control.buttonText}}</button>
        <hr class="hr-style"/>
    </div>
</div>

<link rel="stylesheet" href="resources/js/App/createproduct/createproduct.css">