<link rel="stylesheet" href="resources/assets/css/pages/page_invoice.css">

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Выбрать инвестиционный продукт</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Главная страница</a></li>
            <li class="active">Выбрать инвестиционный продукт</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="screen-height">
        <div class="height-50">
            <div class="height-100 no-padding-column" ng-if="isDesktopShow()">
                <svg class="graphic" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                 width="1557px" height="471px" viewBox="192.621 147.453 1557 471"
                 enable-background="new 192.621 147.453 1556.4 470.892" xml:space="preserve">
                    <style type="text/css"><![CDATA[
                        .line {
                            visibility: hidden;
                        }
                        .cursor-type {
                            cursor: pointer;
                        }
                    ]]></style>
                    <g>
                        <g>
                            <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="237.086" y1="153.805" x2="237.086" y2="578.92"/>
                            <polygon points="227.083,167.093 230.04,167.861 237.086,154.024 244.132,167.861 247.088,167.093 237.086,147.453 			"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="1231.283" y1="578.92" x2="237.086" y2="578.92"/>
                            <polygon points="1213.76,571.415 1212.748,573.634 1230.994,578.92 1212.748,584.206 1213.76,586.423 1239.66,578.92 			"/>
                        </g>
                    </g>
                    <path id="main-ellipse" fill="#F2F2F2" stroke="#7C91AA" stroke-width="2" stroke-miterlimit="10" d="M590.317,260.058
                        c199.411-75.976,383.861-103.895,411.979-62.36c28.116,41.536-110.744,136.796-310.157,212.773
                        c-199.411,75.977-383.861,103.896-411.977,62.357C252.042,431.295,390.903,336.033,590.317,260.058z"/>
                    <path id="green-ellipse" class="cursor-type" fill="#F2F2F2" d="M331.111,393.31c42.697-33.092,90.679-50.209,107.17-38.231
                        c16.492,11.978-4.752,48.512-47.448,81.604c-42.698,33.094-90.682,50.21-107.171,38.233
                        C267.169,462.938,288.413,426.401,331.111,393.31z"/>
                    <path id="blue-ellipse" class="cursor-type" fill="#F2F2F2" d="M546.906,279.021c66.604-22.314,127.673-28.519,136.401-13.854
                        c8.728,14.664-38.187,44.642-104.788,66.958c-66.603,22.316-127.671,28.519-136.402,13.854
                        C433.388,331.316,480.303,301.339,546.906,279.021z"/>
                    <path id="red-ellipse" class="cursor-type" fill="#F2F2F2" d="M838.038,188.945c84.224-17.419,156.987-12.657,162.525,10.635
                        c5.538,23.293-58.249,56.298-142.469,73.717c-84.225,17.419-156.986,12.657-162.525-10.637
                        C690.031,239.369,753.818,206.365,838.038,188.945z"/>
                    <path fill="none" stroke="#4D4D4D" stroke-width="3" stroke-miterlimit="10" d="M1008.5,206.049
                        c48.785-3.421,97.807-5.217,146.837-5.229"/>
                    <path id="red-arc" class="cursor-type" fill="none" stroke="#EA1808" stroke-width="5" stroke-miterlimit="10" d="M696.514,259.196
                        c100.833-27.22,204.666-42.35,309.167-52.762"/>
                    <path id="blue-arc" class="cursor-type" fill="none" stroke="#306ED4" stroke-width="5" stroke-miterlimit="10" d="M446.356,347.548
                        c19.265-11.766,41.592-19.775,62.857-29.384c20.201-8.012,40.403-16.021,60.605-23.231c17.01-5.607,33.006-10.354,51.032-14.419
                        c21.121-6.034,40.406-12.815,61.541-18.452"/>
                    <path id="green-arc" class="cursor-type" fill="none" stroke="#008D36" stroke-width="5" stroke-miterlimit="10" d="M283.81,479.61
                        c11.482-17.471,27.466-33.485,43.449-50.391c31.967-30.255,68.499-52.497,106.62-75.273"/>
                    <path fill="none" stroke="#4D4D4D" stroke-width="3" stroke-miterlimit="10" d="M258.588,566.717
                        c-0.604-16.564,1.871-33.159,7.18-49.243c4.302-13.031,10.438-25.711,18.041-37.861"/>
                    <ellipse fill="none" stroke="#306ED4" stroke-width="7" stroke-miterlimit="10" cx="689.451" cy="261.061" rx="7.063" ry="6.105"/>
                    <line id="green-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="12.1388,12.1388" x1="505.741" y1="475.768" x2="1280.056" y2="475.768"/>
                    <line id="blue-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.6944,11.6944" x1="843.635" y1="348.445" x2="1373.551" y2="348.445"/>
                    <line id="red-line" class="line" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.7007,11.7007" x1="998.059" y1="238.374" x2="1441.547" y2="238.374"/>
                    <text transform="matrix(4.489659e-011 -1 1 4.489659e-011 224.3557 510.6572)" fill="#636B6F"  font-size="30" letter-spacing="5">ДОХОДНОСТЬ</text>
                    <text transform="matrix(1 0 0 1 643.0002 607)" fill="#636B6F" font-size="30" letter-spacing="5">УРОВЕНЬ РИСКА</text>
                    <text transform="matrix(1 0 0 1 283.8098 535.7119)" fill="#636B6F" font-size="27" letter-spacing="1">ДЕПОЗИТЫ</text>
                    <text transform="matrix(1 0 0 1 1028.0002 230)" fill="#636B6F" font-size="27" letter-spacing="1">АКЦИИ</text>
                    <text id="green-text"  class="cursor-type" transform="matrix(1 0 0 1 365.385 418.9961)" enable-background="new">
                        <tspan x="0" y="0"  font-size="22">100% </tspan>
                        <tspan x="-11.575" y="26.4"  font-size="22">защита </tspan>
                        <tspan x="-16.382" y="52.8"  font-size="22">капитала</tspan>
                    </text>
                    <text id="blue-text" class="cursor-type" transform="matrix(1 0 0 1 546.3303 326.2646)" enable-background="new">
                        <tspan x="0" y="0"  font-size="22">Частичная</tspan>
                        <tspan x="16.452" y="26.4"  font-size="22">защита</tspan>
                        <tspan x="6.956" y="52.8"  font-size="22">капитала</tspan>
                    </text>
                    <text id="red-text" class="cursor-type" transform="matrix(1 0 0 1 803.6707 257.7998)"  font-size="22">Рисковые</text>
                    <text transform="matrix(0.9867 -0.3605 0.3432 0.9393 493.9529 459.5776)" font-size="23" letter-spacing="2">СТРУКТУРНЫЕ ПРОДУКТЫ</text>
                    <g>
                        <path id="red-button" type="button" ng-click="filterByType('High', $event)" class="cursor-type" fill="white" stroke="#EA1808" stroke-width="3" stroke-miterlimit="10" d="M1724.015,272.01
                            c-8.313,6.004-20.04,8.84-23.618,8.85c-68.306,0-136.611,0-204.917,0c-3.581-0.01-15.309-2.846-23.619-8.85
                            c-32.423-22.546-32.423-68.062,0-90.608c8.313-6.003,20.039-8.84,23.619-8.849c68.306,0,136.611,0,204.917,0
                            c3.578,0.01,15.307,2.845,23.618,8.849C1756.436,203.947,1756.437,249.464,1724.015,272.01z"/>
                            <circle id="red-button-circle" type="button" ng-click="filterByType('High', $event)" class="cursor-type" fill="#FFFFFF" stroke="#EA1808" stroke-width="3" stroke-miterlimit="10" cx="1696.563" cy="226.706" r="52.459"/>
                    </g>
                    <g>
                        <path id="blue-button" ng-click="filterByType('Medium', $event)" class="cursor-type" fill="white" stroke="#4F81BD" stroke-width="3" stroke-miterlimit="10" d="M1650.338,395.024
                            c-8.312,6.003-20.038,8.839-23.616,8.849c-68.308,0-136.612,0-204.918,0c-3.578-0.01-15.306-2.846-23.616-8.849
                            c-32.424-22.547-32.425-68.063-0.003-90.608c8.312-6.004,20.04-8.84,23.619-8.85c68.306,0,136.612,0,204.918,0
                            c3.579,0.01,15.307,2.846,23.619,8.85C1682.761,326.962,1682.762,372.479,1650.338,395.024z"/>
                            <circle id="blue-button-circle" ng-click="filterByType('Medium', $event)" class="cursor-type" fill="#FFFFFF" stroke="#4F81BD" stroke-width="3" stroke-miterlimit="10" cx="1621.566" cy="349.72" r="52.459"/>
                    </g>
                    <g>
                        <path id="green-button" ng-click="filterByType('Low', $event)" class="cursor-type" fill="white" stroke="#3FB564" stroke-width="3" stroke-miterlimit="10" d="M1571.893,522.36
                            c-8.657,6.12-20.873,9.01-24.598,9.02c-71.146,0-142.285,0-213.43,0c-3.729-0.01-15.941-2.899-24.599-9.02
                            c-33.767-22.978-33.767-69.368,0.004-92.345c8.653-6.117,20.868-9.009,24.595-9.019c71.144,0,142.286,0,213.43,0
                            c3.725,0.01,15.941,2.901,24.595,9.019C1605.659,452.993,1605.661,499.383,1571.893,522.36z"/>
                            <ellipse id="green-button-circle" ng-click="filterByType('Low', $event)" class="cursor-type" fill="#FFFFFF" stroke="#3FB564" stroke-width="3" stroke-miterlimit="10" cx="1543.301" cy="476.188" rx="54.637" ry="53.464"/>
                    </g>
                    <text id="red-button-text" ng-click="filterByType('High', $event)" class="cursor-type" fill="#636B6F" transform="matrix(1 0 0 1 1473.259 232.5859)"  font-size="27">РИСКОВЫЕ</text>
                    <text id="blue-button-text" ng-click="filterByType('Medium', $event)" class="cursor-type" fill="#636B6F" transform="matrix(1 0 0 1 1408.0432 326.1182)" enable-background="new    ">
                        <tspan x="0" y="0"  font-size="26">ЧАСТИЧНАЯ</tspan>
                        <tspan x="26.178" y="31.2"  font-size="26">ЗАЩИТА</tspan>
                        <tspan x="10.055" y="62.4"  font-size="26">КАПИТАЛА</tspan>
                    </text>
                    <text id="green-button-text" ng-click="filterByType('Low', $event)" class="cursor-type" fill="#636B6F" transform="matrix(1 0 0 1 1292.0315 471.751)">
                        <tspan x="0" y="0"  font-size="26.5">100% ЗАЩИТА</tspan>
                        <tspan x="28.628" y="32.399"  font-size="26.5">КАПИТАЛА</tspan>
                    </text>
                    <text id="red-value" transform="matrix(1 0 0 1 1690.5676 236.373)" font-family="'ArialMT'" font-size="31"></text>
                    <text id="blue-value" transform="matrix(1 0 0 1 1614.7786 359.832)" font-family="'ArialMT'" font-size="31"></text>
                    <text id="green-value" transform="matrix(1 0 0 1 1532.259 485.6387)" font-family="'ArialMT'" font-size="31"></text>
                    <ellipse fill="none" stroke="#306ED4" stroke-width="7" stroke-miterlimit="10" cx="439.293" cy="351.256" rx="7.063" ry="6.105"/>
                    <g>
                        <line fill="none" stroke="#306ED4" stroke-width="6" stroke-miterlimit="10" x1="1012.729" y1="199.555" x2="1004.272" y2="212.543"/>
                        <line fill="none" stroke="#306ED4" stroke-width="6" stroke-miterlimit="10" x1="1001.989" y1="201.846" x2="1015.012" y2="210.251"/>
                    </g>
                    <g>
                        <line fill="none" stroke="#306ED4" stroke-width="6" stroke-miterlimit="10" x1="270.319" y1="519.229" x2="256.967" y2="527.1"/>
                        <line fill="none" stroke="#306ED4" stroke-width="6" stroke-miterlimit="10" x1="259.68" y1="516.503" x2="267.605" y2="529.825"/>
                    </g>
                </svg>
            </div>
            <div ng-if="isMobileShow()">
                <ul class="list-unstyled">
                    <li class="margin-bottom-10">
                        <button id="green-button" class="green-button rounded-2x mobile-button" ng-click="filterByMobileType('Low', $event)">
                            <img alt="" src="resources/img/icons/bank_dollar_protected32.png">
                            <div class="side-text-title">
                                <h4>100% защиты капитала</h4>
                                <span class="side-text-num num-green">{{lowRiskProducts}}</span>
                                <br>
                            </div>
                        </button>
                    </li>
                    <li class="margin-bottom-10">
                        <button id="blue-button" class="blue-button rounded-2x mobile-button" type="button" ng-click="filterByMobileType('Medium', $event)">
                            <img alt="" src="resources/img/icons/keyboard_machine32.png">
                            <div class="side-text-title">
                                <h4>Частичная защита капитала</h4>
                                <span class="side-text-num num-blue">{{mediumRiskProducts}}</span>
                                <br>
                            </div>
                        </button>
                    </li>
                    <li class="margin-bottom-10">
                        <button id="red-button" class="red-button rounded-2x mobile-button" ng-click="filterByMobileType('High', $event)">
                            <img alt="" src="resources/img/icons/dollar32.png">
                            <div class="side-text-title">
                                <h4>Рисковые</h4>
                                <span class="side-text-num num-red">{{highRiskProducts}}</span>
                                <br/>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="table" class="height-50">
            Кликните на название поля в таблице и выберете структурный продукт по интересующему Вас параметру
            <div class="table-full" ng-show="isDesktopShow()">
                <table class="table main-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <a href="" ng-click="order('name')">Название</a>
                            <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                            <button ng-click="showNameFilter = !showNameFilter" class="filter-button"><i class="fa fa-filter fa-2"></i></button>
                            <div>
                                <input type="text" class="filter-input" ng-show="showNameFilter" ng-model="nameFilter" ng-change="filterProducts()"/>
                            </div>
                        </th>
                        <th>
                            Базовый актив
                        </th>
                        <th>
                            <div>
                                <a href="" ng-click="order('profit')">Доходность         </a>
                                <span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>
                                <button ng-click="showProfitFilter = !showProfitFilter" class="filter-button"><i class="fa fa-filter fa-2"></i></button>
                                <div ng-show="showProfitFilter">
                                    От
                                    <input type="number" class="filter-input-small" ng-model="profitFilter.from" ng-change="filterProducts()"/>
                                    До
                                    <input type="number" class="filter-input-small" ng-model="profitFilter.to" ng-change="filterProducts()"/>
                                </div>
                            </div>
                        </th>
                        <th>
                            Cумма инвестиций
                            <button ng-click="showsumFilter = !showsumFilter" class="filter-button"><i class="fa fa-filter fa-2"></i></button>
                            <div ng-show="showsumFilter">
                                От
                                <input type="number" class="filter-input-small" ng-model="sumFilter.from" ng-change="filterProducts()"/>
                                До
                                <input type="number" class="filter-input-small" ng-model="sumFilter.to" ng-change="filterProducts()"/>
                            </div>
                        </th>
                        <th>
                            Срок
                            <button ng-click="showtermsFilter = !showtermsFilter" class="filter-button"><i class="fa fa-filter fa-2"></i></button>
                            <div ng-show="showtermsFilter">
                                От
                                <input type="number" class="filter-input-small" ng-model="termsFilter.from" ng-change="filterProducts()"/>
                                До
                                <input type="number" class="filter-input-small" ng-model="termsFilter.to" ng-change="filterProducts()"/>
                            </div>
                        </th>
                        <th>Провайдер</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="val in products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:predicate:reverse"  ng-click="goToProductPage(val.id)" class="table-row">
                        <td>{{$index + 1}}</td>
                        <td>{{val.name}}</td>
                        <td>{{val.underlayings}}</td>
                        <td>{{val.returnValue}}%</td>
                        <td>{{getPeriodValue(val.investment)}} тысяч рублей</td>
                        <td>{{getPeriodValue({min: val.minTerm, max: val.maxTerm})}} месяцев</td>
                        <td>{{val.broker.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div class="col-md-6 left-unmargin">
                        <pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <select ng-model="viewby" ng-change="setItemsPerPage(viewby)" class="right-mardin"><option>5</option><option>10</option><option>20</option><option>40</option></select>
                        <span class="right-mardin">Выводить по</span>
                    </div>
                </div>
            </div>
            <div ng-show="isMobileShow()">
                <table class="table main-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <a href="" ng-click="order('name')">Название</a>
                            <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('profit')">Доходность</a>
                            <span class="sortorder" ng-show="predicate === 'profit'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            Cумма инвестиций
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="val in products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:predicate:reverse" ng-click="goToProductPage(val.id)" class="table-row">
                        <td>{{$index + 1}}</td>
                        <td>{{val.name}}</td>
                        <td>{{val.returnValue}}%</td>
                        <td>от {{val.investment.min}} до {{val.investment.max}} тысяч рублей</td>
                    </tr>
                    </tbody>
                </table>
                <div class="left-unmargin">
                    <pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="resources/js/App/investproduct/investproduct.css">