<link rel="stylesheet" href="resources/assets/css/pages/page_invoice.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="container top-content">

	<!--<div class="row">
		<div class="text-center">
			<p class="headlight">Выберете структурный продукт по интересующему Вас параметру</p>
		</div>
	</div>-->

	<!--<div class="row">
		<div ng-if="isMobileShow()">
			<ul class="list-unstyled">
				<li class="margin-bottom-10">
					<button id="green-button" class="green-button rounded-2x mobile-button" ng-click="filterByMobileType('Low', $event)">
						<img alt="" src="resources/img/icons/bank_dollar_protected32.png">
						<div class="side-text-title">
							<h4>100% защиты капитала</h4>
							<span class="side-text-num num-green">{{lowRiskProducts}}</span>
							<br>
						</div>
					</button>
				</li>
				<li class="margin-bottom-10">
					<button id="blue-button" class="blue-button rounded-2x mobile-button" type="button" ng-click="filterByMobileType('Medium', $event)">
						<img alt="" src="resources/img/icons/keyboard_machine32.png">
						<div class="side-text-title">
							<h4>Частичная защита капитала</h4>
							<span class="side-text-num num-blue">{{mediumRiskProducts}}</span>
							<br>
						</div>
					</button>
				</li>
				<li class="margin-bottom-10">
					<button id="red-button" class="red-button rounded-2x mobile-button" ng-click="filterByMobileType('High', $event)">
						<img alt="" src="resources/img/icons/dollar32.png">
						<div class="side-text-title">
							<h4>Рисковые</h4>
							<span class="side-text-num num-red">{{highRiskProducts}}</span>
							<br />
						</div>
					</button>
				</li>
			</ul>
		</div>
	</div>-->


	<div class="row">
		<div class="visible-md visible-lg text-center  no-padding-column">
			<!--<img class="img-responsive" style="margin-bottom:70px;" src="resources/img/graph.png" />-->

<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
 x="0px" y="0px" width="989px" height="559px" viewBox="0 0 989 559" enable-background="new 0 0 989 559" xml:space="preserve"
 style="transform:scale(0.9); -webkit-transform:scale(0.9); -moz-transform:scale(0.9); -ms-transform:scale(0.9); -o-transform:scale(0.9);"
 >

						<style type="text/css"><![CDATA[
                        .line {
                            visibility: hidden;
                        }
                        .cursor-type {
                            cursor: pointer;
                        }
                    ]]></style>

<rect x="88.411" y="11.531" fill="#FAFCFF" width="738.181" height="510.651"/>
<path fill="#BFBFBF" stroke="#687074" stroke-width="0.25" stroke-miterlimit="10" d="M55.166,468.709
	c-0.074,22.376-0.071,44.753,0.012,67.13"/>
<path fill="#BFBFBF" stroke="#687074" stroke-width="0.25" stroke-miterlimit="10" d="M55.178,1.531
	c-0.086,146.034-0.086,296.438-0.007,441.965"/>
<polygon fill="#BFBFBF" points="49.017,12.268 50.838,12.747 55.178,4.104 59.517,12.747 61.337,12.268 55.178,0 "/>
<line fill="none" stroke="#BFBFBF" stroke-width="0.75" stroke-miterlimit="10" x1="983.458" y1="522.391" x2="41.332" y2="522.391"/>
<polygon fill="#BFBFBF" points="970.39,517.41 969.719,518.884 981.822,522.391 969.719,525.896 970.39,527.366 987.571,522.391 "/>
<path fill="none" stroke="#D8D8D8" stroke-width="2" stroke-miterlimit="10" d="M825.208,129.787
	c38.706-3.421,77.601-5.218,116.5-5.229"/>

<path id="green-arc" class="cursor-type"  ng-click="filterByType('Low', $event)" fill="none" stroke="#54BB50" stroke-width="2" stroke-miterlimit="10" d="M88.411,443.496
	c17.897-25.077,42.812-48.065,67.723-72.335c49.827-43.428,106.769-83.968,166.188-116.661"/>

<path id="blue-arc" class="cursor-type"  ng-click="filterByType('Medium', $event)" fill="none" stroke="#2C6FDE" stroke-width="2" stroke-miterlimit="10" d="M333.5,248.889
	c19.179-11.134,41.406-18.712,62.575-27.805c20.111-7.581,40.223-15.159,60.335-21.98c16.934-5.306,32.858-11.691,50.805-15.537
	c21.024-5.709,40.225-10.233,61.266-15.567"/>

<path id="red-arc" class="cursor-type"  ng-click="filterByType('High', $event)" fill="none" stroke="#FF4011" stroke-width="2" stroke-miterlimit="10" d="M581.001,164.739
	c51.001-12.861,131.868-23.915,245.277-34.47"/>

<path fill="none" stroke="#D8D8D8" stroke-width="2" stroke-miterlimit="10" d="M68.875,486.973
	c1.241-7.282,5.152-15.816,8.144-23.961c2.854-6.24,6.408-12.878,11.449-18.695"/>

<ellipse fill="none" stroke="#2C6FDE" stroke-width="3" stroke-miterlimit="10" cx="575.543" cy="165.799" rx="6.233" ry="5.64"/>
<ellipse fill="none" stroke="#2C6FDE" stroke-width="3" stroke-miterlimit="10" cx="329.215" cy="251.529" rx="6.233" ry="5.64"/>
<line fill="none" stroke="#2C6FDE" stroke-width="3" stroke-miterlimit="10" x1="95.087" y1="439.562" x2="81.735" y2="447.433"/>
<line fill="none" stroke="#2C6FDE" stroke-width="3" stroke-miterlimit="10" x1="84.448" y1="436.835" x2="92.373" y2="450.157"/>
<g>
	<g>
		<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" x1="88.41" y1="13.714" x2="88.41" y2="19.524"/>
		
			<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" stroke-dasharray="11.9093,11.9093" x1="88.41" y1="31.055" x2="88.41" y2="509.608"/>
		
			<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" x1="88.41" y1="515.373" x2="88.41" y2="521.183"/>
	</g>
</g>
<g>
	<g>
		<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" x1="826.9" y1="11.738" x2="826.9" y2="17.601"/>
		
			<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" stroke-dasharray="11.9093,11.9093" x1="826.9" y1="29.238" x2="826.9" y2="512.201"/>
		
			<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" x1="826.9" y1="518.021" x2="826.9" y2="523.884"/>
	</g>
</g>
<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" stroke-dasharray="12" x1="329.422" y1="85.738" x2="329.422" y2="522.391"/>
<line fill="none" stroke="#B1B1B2" stroke-width="0.75" stroke-miterlimit="10" stroke-dasharray="12" x1="575.605" y1="77.751" x2="575.605" y2="521.884"/>
<line fill="none" stroke="#2C6FDE" stroke-width="3" stroke-miterlimit="10" x1="830.82" y1="123.293" x2="822.363" y2="136.281"/>
<line fill="none" stroke="#2C6FDE" stroke-width="3" stroke-miterlimit="10" x1="820.081" y1="125.584" x2="833.104" y2="133.989"/>

<text transform="matrix(1.0505 -0.0013 0.0012 1 200.0488 55.3228)" fill="#AFB0B2" font-family="'Circe'" font-size="26" letter-spacing="0,05em">С&nbsp;Т&nbsp;Р&nbsp;У&nbsp;К&nbsp;Т&nbsp;У&nbsp;Р&nbsp;Н&nbsp;Ы&nbsp;Е&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;П&nbsp;Р&nbsp;О&nbsp;Д&nbsp;У&nbsp;К&nbsp;Т&nbsp;Ы</text>

<text transform="matrix(4.489659e-011 -1 1 4.489659e-011 44.4473 302.7383)" fill="#636B6F" font-family="'Circe'" font-size="17">ДОХОДНОСТЬ</text>
<text transform="matrix(1 0 0 1 380 551.1738)" fill="#353535" font-family="'Circe'" font-size="17">УРОВЕНЬ РИСКА</text>
<text transform="matrix(1 0 0 1 0 458.4492)" fill="#B7B7B7" font-family="'Circe'" font-size="16">Депозиты</text>
<text transform="matrix(1 0 0 1 859.0918 164.7383)" fill="#B7B7B7" font-family="'Circe'" font-size="16">Акции</text>

<text id="green-text"  class="cursor-type disable-select" ng-click="filterByType('Low', $event)" transform="matrix(1 0 0 1 170 390)" fill="#54BB50" font-family="'Circe'" font-size="18">
    <tspan x="0" y="0"  font-size="18">100% защита</tspan>
    <tspan x="16.6182" y="19"  font-size="18">капитала</tspan>
</text>

<text id="blue-text" class="cursor-type disable-select" ng-click="filterByType('Medium', $event)" transform="matrix(1 0 0 1 380 260)" fill="#2C6FDE" 
font-family="'Circe'" font-size="18">
    <tspan x="0" y="0"  font-size="18">Частичная защита</tspan>
    <tspan x="36.956" y="19"  font-size="18">капитала</tspan>
</text>

<text id="red-text" class="cursor-type disable-select" ng-click="filterByType('High', $event)" transform="matrix(1 0 0 1 665 185)" 
fill="#FF4011" font-family="'Circe'" font-size="18">Рисковые</text>

</svg>

		</div>
		<div class="visible-xs visible-sm text-center">
			<img class="img-responsive" style="margin-bottom:70px;" src="resources/img/graph_mobile.png" />

		</div>
	</div>
	<div class="row">
		<h1 class="headlight text-center">Выберите структурный продукт: </h1>
	</div>
	<div class="row">
	
		<div class="col-xs-12 col-md-4 text-center ">
			<div class="text-center green-button disable-select"  id="green-button" ng-click="filterByType('Low', $event)">
				<i class="material-icons " aria-hidden="true">done</i>
				<span>100% защита</span>
			</div>
			<span class="num-prod">Продуктов: {{lowRiskProducts}}</span>
		</div>
		<div class="col-xs-12  col-md-4  text-center">
			<div class="text-center blue-button disable-select"  id="blue-button" ng-click="filterByType('Medium', $event)">
				<i class="material-icons " aria-hidden="true">done</i>
				<span>Частичная защита</span>
			</div>
			<span class="num-prod">Продуктов: {{mediumRiskProducts}}</span>
		</div>
		<div class="col-xs-12  col-md-4 text-center">
			<div class="text-center red-button disable-select" id="red-button" ng-click="filterByType('High', $event)">
				<i class="material-icons" aria-hidden="true">done</i>
				<span>Рисковые</span>
			</div>
			<span class="num-prod">Продуктов: {{highRiskProducts}}</span>
		</div>
	
	</div>

	<div class="row">
		<div id="table" >
				<table class="grid-table-striped" style="margin:30px 0;width:100%">
					<thead>
						<tr class="underline">
							<th></th>
							<th>
								<span><a class="table-sort" ng-click="order('name')">Название</a></span>
								
								<span ng-click="order('name')" ng-class="{'fa-sort-amount-asc' : reverse, 'fa-sort-amount-desc' : !reverse}" class="fa fa-2"></span>

								<div>
										<a href="" ng-click="clickFilter('Name')" class="sort-link">Поиск</a> <i class="fa fa-search fa-2"></i>
									</div>
								<!--<button ng-click="clickFilter('Name')" class="filter-button"><i class="fa fa-search fa-2"></i></button>-->

								<div>
									<input ng-show="filter.Name" ng-model="nameFilter" ng-change="filterProducts()" type="text" class="filter-input" />
								</div>
							</th>
							<th class="visible-sm visible-md visible-lg">
								<div class="btn-group" data-ng-class="{open1: open1}">

									<div>Базовые активы</div>
									<!--<div>
										<a class="dropdown-toggle sort-link" data-ng-click="open1=!open1" data-toggle="dropdown" >Любые</a>
									</div>-->
									<!--<button class="dropdown-toggle filter-button" data-ng-click="open1=!open1" data-toggle="dropdown">
										<i class="fa fa-filter fa-2"></i>
									</button>-->
									 <button class="btn-link sort-link" role="link"  data-ng-click="open1=!open1" data-toggle="dropdown" type="button" name="op" value="Любые">Любые</button>


									<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
										<li data-ng-repeat="under in unders">
											<a href="" data-ng-click="setSelectedUnder()" data-ng-class="isCheckedForHref(under, 'selectedUnder')">{{under}}<span data-ng-class="isCheckedForSpan(under, 'selectedUnder')"></span></a>
										</li>
									</ul>
								</div>
							</th>
							<th>
								<div style="white-space:nowrap">
									<span><a class="table-sort" ng-click="order('returnValue')">Доходность</a></span>
									<span ng-click="order('returnValue')" ng-class="{'fa-sort-amount-asc' : reverse, 'fa-sort-amount-desc' : !reverse}" class="fa fa-2"></span>
</div>


									<div>
										<a href="" ng-click="clickFilter('Profit')" class="sort-link">Любая</a>
									</div>

									<!--<button ng-click="clickFilter('Profit')" class="filter-button"><i class="fa fa-filter fa-2"></i></button>-->
									<div ng-show="filter.Profit">
										<input type="number" class="filter-input-small" placeholder="От" ng-model="profitFilter.from" ng-change="filterProducts()" />
										<br />
										<input type="number" class="filter-input-small" placeholder="До" ng-model="profitFilter.to" ng-change="filterProducts()" />
									</div>
								
							</th>
							<th style="white-space:nowrap;">
								Cумма инвестиций<br>
								<div>
									<a href="" ng-click="clickFilter('Sum')" class="sort-link">Любая</a>
								</div>
								<!--<button ng-click="clickFilter('Sum')" class="filter-button"><i class="fa fa-filter fa-2"></i></button>-->
								<div ng-show="filter.Sum">
									<input type="number" class="filter-input-small" placeholder="От" ng-model="sumFilter.from" ng-change="filterProducts()" />
									<br />
									<input type="number" class="filter-input-small" placeholder="До" ng-model="sumFilter.to" ng-change="filterProducts()" />
								</div>
							</th>
							<th class="visible-sm visible-md visible-lg" style="width:10%">
								Срок
								<div>
									<a href="" ng-click="clickFilter('Terms')" class="sort-link">Любая</a>
								</div>
								<!--<button ng-click="clickFilter('Terms')" class="filter-button"><i class="fa fa-filter fa-2"></i></button>-->
								<div ng-show="filter.Terms">
									<input type="number" class="filter-input-small" placeholder="От" ng-model="termsFilter.from" ng-change="filterProducts()" />
									<br />
									<input type="number" class="filter-input-small" placeholder="До" ng-model="termsFilter.to" ng-change="filterProducts()" />
								</div>
							</th>
							<th class="visible-sm visible-md visible-lg" style="width:15%">
								<div class="btn-group" data-ng-class="{open2: open2}">
									<div>Брокер</div>
									 <button class="btn-link sort-link" role="link"  data-ng-click="open2=!open2" data-toggle="dropdown" type="button" name="op" value="Любые">Любой</button>
									<!--<button class="dropdown-toggle filter-button" data-ng-click="open2=!open2" data-toggle="dropdown">-->
										<!--<i class="fa fa-filter fa-2"></i>-->
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
										<li data-ng-repeat="broker in brokers">
											<a href="" data-ng-click="setSelectedBroker()" data-ng-class="isCheckedForHref(broker,'selectedBroker')">{{broker}}<span data-ng-class="isCheckedForSpan(broker,'selectedBroker')"></span></a>
										</li>
									</ul>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="val in products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
							ng-click="goToProductPage(val.id)" class="table-row" ng-class="getClassByRiskType(val.productType.riskType)">
							<td>{{$index + 1 + ((currentPage - 1) * itemsPerPage)}}</td>
							<td>{{val.name}}</td>
							<td class="visible-sm visible-md visible-lg">{{val.underlayings}}</td>
							<td>{{val.returnValue}}%</td>
							<td>{{getPeriodValue(val.minInvest,val.maxInvest)}} {{val.currency.name}}</td>
							<td class="visible-sm visible-md visible-lg">{{getPeriodValue(val.minTerm,val.maxTerm)}} мес.</td>
							<td class="visible-sm visible-md visible-lg">{{val.broker.name}}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<div class="col-xs-12 col-md-6 left-unmargin">
						<uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
					</div>
					<div class="hidden-xs hidden-sm col-md-6 col-sm-6">
						<select ng-model="viewby" ng-change="setItemsPerPage(viewby)" class="right-mardin"><option>5</option><option>10</option><option>20</option><option>40</option></select>
						<span class="right-mardin">Выводить по</span>
					</div>
				</div>
		</div>
	</div>

	<div class="row">
		<div style="padding-top:10px;"></div>
	</div>



</div>

<link rel="stylesheet" href="resources/js/App/investproduct/investproduct.css">