.risk-high {
    border: 2px solid blue;
}

.risk-medium {
    border: 2px solid red;
    margin-top: 5px;

}

.risk-low {
    border: 2px solid green;
    margin-top: 5px;
}

.side-text-title {
    text-align: center;
    margin-bottom: 0px !important;
}

.side-text-more {
    text-align: center;
}

.side-text-num {
    font-size: 15px;
    line-height: 15px;
}


.num-blue {
    color: #2980b9;
}

.num-red {
    color: #c0392b;
}

.num-green {
    color: #2ecc71;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.list-unstyled {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

@media only screen and (min-width: 992px) and (min-height: 542px) {
    .screen-height {
        height: 90vh;
    }
}

.graphic {
    height: 100%;
    width: 100%;
}

.no-padding-column {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.table-full {
    font-size: 15px;
    width: 97%;
    margin-top: 10px;
}

.height-50 {
    height: 50%;
}

.mobile-button {
    width: 100%;
    background: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile-button:hover {
    box-shadow: 0px 0px 5px 3px #aead95;
}

.height-100 {
    height: 100%;
}

.filter-button {
    background: white;
    border: none;
}

.filter-input {
    border-radius: 15px;
    width: 100px;
}

.filter-input-small {
    width:95px;
    border: 1px solid #ccc;
    border-radius: 0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.pagination {
    margin: 0 !important;
    margin-bottom: 0 !important;
}

.left-unmargin {
    margin-left: -15px;
}

.right-mardin {
    float: right;
    margin-right: 30px;
}

.float-right {
    float: right;
}

.font-bold {
    font-weight: bold !important;
}

.font-initial {
    font-weight: initial !important;
}

.dropdown-menu {
    min-width: 173px !important;
}


/*******************/

.red-button, .blue-button, .green-button {
	cursor: pointer;
	border-radius: 38px;
	max-width: 300px;
	color: white;
	font-family: 'Circe';
	font-size: 20px;
	white-space: nowrap;
	line-height: 70px;
	margin: 25px auto 6px;
}

.red-button {
	background: #ff3300;
	border: 2px solid #fff;
}

.blue-button {
	background: #126bff;
	border: 2px solid #fff;
}

.green-button {
	background: #35c32e;
	border: 2px solid #fff;
}

.red-button:hover, .blue-button:hover, .green-button:hover,
.red-button-selected, .blue-button-selected, .green-button-selected

 {
	cursor: pointer;
	border-radius: 38px;
	background:white !important;
	max-width: 300px;
	color: #333;
	font-family: 'Circe';
	font-size: 20px;
	white-space: nowrap;
	line-height: 70px;
	margin: 25px auto 6px;
}

.red-button:hover,
.red-button-selected {
	border: 2px solid #ff3300 !important;
}

.blue-button:hover,
.blue-button-selected
 {
	border: 2px solid #126bff !important;
}

.green-button:hover,
.green-button-selected {
	border: 2px solid #35c32e !important;
}

