.risk-high {
    border: 2px solid blue;
}

.risk-medium {
    border: 2px solid red;
    margin-top: 5px;

}

.risk-low {
    border: 2px solid green;
    margin-top: 5px;
}

.side-text-title {
    text-align: center;
    margin-bottom: 0px !important;
}

.side-text-more {
    text-align: center;
}

.side-text-num {
    font-size: 15px;
    line-height: 15px;
}

.blue-button {
    border-color: #2980b9;
}

.red-button {
    border-color: #c0392b;
}

.green-button {
    border-color: #2ecc71;
}

.num-blue {
    color: #2980b9;
}

.num-red {
    color: #c0392b;
}

.num-green {
    color: #2ecc71;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.list-unstyled {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

@media only screen and (min-width: 992px) and (min-height: 542px) {
    .screen-height {
        height: 90vh;
    }
}

.graphic {
    height: 100%;
    width: 100%;
}

.no-padding-column {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.table-full {
    font-size: 15px;
    width: 94%;
    margin-top: 10px;
}

.height-50 {
    height: 50%;
}

.mobile-button {
    width: 100%;
    background: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile-button:hover {
    box-shadow: 0px 0px 5px 3px #aead95;
}

.height-100 {
    height: 100%;
}

.filter-button {
    background: white;
    border: none;
}

.filter-input {
    border-radius: 15px;
    width: 100px;
}

.filter-input-small {
    border-radius: 5px;
    width:95px;
}

.pagination {
    margin: 0 !important;
    margin-bottom: 0 !important;
}

.left-unmargin {
    margin-left: -15px;
}

.right-mardin {
    float: right;
    margin-right: 30px;
}