<!DOCTYPE html>

<!--=== Content ===-->
<div class="content-sm">

    <div id="page1" class="screen-height-95">

        <!--=== Slider ===-->
        <div id="layerslider" style="width: 100%;height: 40%; margin: 0px auto;min-height: 240px;">
            <div class="ls-slide" data-ls="slidedelay:2500;transition2d:25;">
                <img src="resources/img/bg1.jpg" class="ls-bg" alt="Slide background">
            </div>
            <div class="ls-slide" data-ls="transition2d:93;">
                <img src="resources/img/18.jpg" class="ls-bg" alt="Slide background">
            </div>
            <div class="ls-slide"style="slidedirection: right;transition2d: 92,93,105;">
                <img src="resources/img/bg2.jpg" class="ls-bg" alt="Slide background">
            </div>
        </div>
        <!--=== End Slider ===-->

        <div class="container height-60">
            <br/>
            <div class="title-v1 margin-bottom-20">
                <h2>С помощью <span class="blue-style">x</span><span class="red-style">Stru</span><span class="blue-style">m</span> вы можете</h2>
            </div>
            <!-- Service Blocks -->
            <div id="main-button" class="margin-bottom-60">
                <div id="buttons" class="row">
                    <div class="col-md-4 col-sm-6 col-btn">
                        <div class="service-block service-block-default main-button-with-top">
                            <a href="#/investproduct">
                                <div id="butcol">
                                    <img alt="" src="resources/img/icons/target.png">
                                    <h2  class="heading-sm invest-button">Выбрать свой инвестиционный продукт</h2>
                                </div>
                            </a>
                            <button type="button" class="main-page-button" ng-click="gotoAnchorAnimatedWithPageAndOffset('page2', 1, 40)">
                                <h3 class="top-five-button">Топ-5</h3>
                                <i class="fa fa-angle-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-btn">
                        <a href="#/createproduct">
                        <div class="service-block service-block-default button-height">
                            <img alt="" src="resources/img/icons/portfel.png">
                            <h2 class="heading-md">Создать индивидуальный инвестиционный продукт</h2>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-btn">
                        <div class="service-block service-block-default">
                            <img alt="" src="resources/img/icons/dollar.png">
                            <h2 class="heading-md"><br/>Coming soon<br/><br/><br/></h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Info Blokcs -->
    <div id="page2" class="bg-color-light screen-height">
        <div class="container content-lg">

            <div class="row height-80">

                <div class="col-md-6 md-margin-bottom-40">

                    <div class="headline"><h2>Топ 5 структурных продуктов</h2></div>


                    <div class="panel-body select-table-body" ng-show="isDesktopShow()">
                        <div class="col-md-4">
                            <label for="byTimeType"> Лучшие продукты: </label><br>
                            <select id="byTimeType" ng-model="data.timeType" ng-change="topProductsChange()"
                                    ng-options="timeType as timeType.name for timeType in data.timeTypes track by timeType.value">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="byProductType"> По типу: </label><br>
                            <select id="byProductType" ng-model="data.productType" ng-change="topProductsChange()">
                                <option ng-repeat="val in data.productTypes" value="{{val}}">{{val}}</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="isDesktopShow()">
                        <!--Basic Table-->
                        <table class="table main-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <!--<th>
                                    <a href="" ng-click="order('name')">Название</a>
                                    <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                                </th>-->
                                <th>Актив</th>
                                <th>Минимальная сумма</th>
                                <th>Доходность</th>
                                <th>Стратегия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in topProducts | orderBy:predicate:reverse">
                                <td>{{$index + 1}}</td>
                                <td>{{val.name}}</td>
                                <td>{{val.underlaying.name}}</td>
                                <td>{{val.investment.name}}</td>
                                <td>{{val.returnValue}}</td>
                                <td>{{val.strategy.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--End Basic Table-->
                    </div>
                    <div ng-show="isMobileShow()">
                        <!--Basic Table-->
                        <table class="table main-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <!--<th>
                                    <a href="" ng-click="order('name')">Название</a>
                                    <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                                </th>-->
                                <th>Брокер</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in topProducts | orderBy:predicate:reverse">
                                <td>{{$index + 1}}</td>
                                <td>{{val.name}}</td>
                                <td>{{val.broker.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--End Basic Table-->
                    </div>
                </div>
                <!-- End Latest -->

                <!-- Ideas -->
                <div class="col-md-6 md-margin-bottom-40">

                    <div class="headline"><h2>Инвестиционные идеи наших партнеров</h2></div>

                    <!-- Accordion -->
                    <div id="accordion-v1" class="panel-group acc-v1">

                        <div ng-repeat="val in data.investideas">
                            <div class="panel panel-default" ng-if="val.mainPage">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div ng-show="isDesktopShow()">
                                            <a href="" ng-click="accordion.select('accordion-v1', 'collapse' + $index)" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                <b>{{val.title}}</b><span class="results-number invest-idea-header">{{val.addDate | date:'dd.MM.yyyy'}}, {{val.broker.name}}</span>
                                            </a>
                                        </div>
                                        <div ng-show="isMobileShow()">
                                            <a href="" ng-click="accordion.select('accordion-v1', 'collapse' + $index)" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                <b>{{val.title}}</b><span class="results-number invest-idea-header"></span>
                                            </a>
                                        </div>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in" ng-if="accordion.isSelected('accordion-v1', 'collapse' + $index)">
                                    <div class="panel-body">
                                        {{val.preview}}
                                        <br>
                                        <i class="fa fa-angle-right color-blue"></i> <a href="#/investidea?id={{val.id}}">Читать подробнее.</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Accordion -->
                </div>

                <!-- End Ideas -->
            </div><!--/row-->

            <!--<button class="btn-u btn-u-blue" type="button"><i class="fa fa-cloud"></i> Icon Button</button>-->

            <div>
                <div>
                    <button class="btn-u btn-u-blue rounded" type="button" ng-click="showContactForm()">
                        <i class="fa fa-envelope-o"></i> Задать вопрос
                    </button>
                </div>
                <div>
                    <ul class="social-icons">
                        <li><a href="#" data-original-title="Vk" class="rounded-x social_vk"></a></li>
                        <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Info Blokcs -->

    <div id="page3"/>
    <!--=== Contacs Part ===-->
    <div  class="container content" ng-show="isContactFormShow()">
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2>Форма отправки сообщений</h2></div>
                <form name="emailForm" class="sky-form contact-style">
                    <fieldset class="no-padding">
                        <label>Имя <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <div>
                                    <input type="text" name="name" id="name" class="form-control" ng-model="email.name" required >
                                </div>
                            </div>
                        </div>
                        <label>Email <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <div>
                                    <input type="email" name="email" id="email" class="form-control" ng-model="email.email" data-valid-pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required >
                                </div>
                            </div>
                        </div>
                        <label>Message <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-11 col-md-offset-0">
                                <div>
                                    <textarea rows="8" name="message" id="message" class="form-control" ng-model="email.text" required ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top-5">
                            <button class="btn-u" ng-click="sendEmail(emailForm)" >Отправить сообщение</button>
                        </div>
                    </fieldset>
                    <!--ng-disabled="!validateForm(emailForm)"-->
                    <div class="row">
                        <div name="alertDiv" class="col-lg-12">
                            <alert id="errorAlert" close="closeAlert()" dismiss-on-timeout="7000" type="{{emailAlert.type}}"
                                   ng-if="emailAlert.visible">{{emailAlert.msg}}</alert>
                        </div>
                    </div>
                </form>
                <!-- End email form -->
            </div><!--/col-md-9-->
            <div class="col-md-3">
                <div class="headline"><h2>Контакты</h2></div>
                <ul class="list-unstyled">
                    <li class="padding-bottom-10">
                        <i class="icon-custom icon-sm rounded-x icon-color-u fa fa-envelope"></i>
                        <label>Email:</label>
                        <p><a href="mailto:#" class="link-black">xstrum.service@gmail.com</a></p>
                    </li>
                    <li class="padding-bottom-10">
                        <ul class="social-icons">
                            <li><a href="#" data-original-title="Vk" class="rounded-x social_vk"></a></li>
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div>
    <!--=== End Contacs Part ===-->
</div>
<!--=== End Content ===-->
<link rel="stylesheet" href="resources/js/App/main/main.css">