<div class="breadcrumbs" xmlns:margin-right="http://www.w3.org/1999/xhtml">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/admin">Страница Администратора</a></li>
        </ul>
    </div>
</div>
<div class="container content-sm">
    <div ng-include="'views/template/admin-menu.htm'"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="md-margin-bottom-40">
                <h3>Список продуктов</h3>
                <!-- Accordion -->
                <div id="accordion-v1" class="panel-group">
                    <div ng-repeat="val in productParams">
                        <div class="panel panel-default" ng-click="productClick(val)">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href=""
                                       data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                        <b>{{val.product.name}}</b><a target="_blank" href="#/product/?id={{val.product.id}}" style="margin-left:10px">Перейти на стр.</a><span class="results-number"></span>
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" ng-if="selectedProduct">
            <h3>Редактирование продукта <b>{{selectedProduct.product.name}}</b></h3>
            <form id="form">
                <div class="row">
                    <div class="col-md-5">
                        <p>Базовые продукты</p>
                        <div class="panel panel-blue margin-bottom-10">
                            <div ui-grid="choosenUnderlying" ui-grid-selection ui-grid-edit></div>
                        </div>
                    </div>
                    <div class="col-md-1 " style="margin-top: 60px">
                        <button class="btn btn-primary" ng-click="toChoosen()"><<</button>
                        <button class="btn btn-primary" ng-click="toAvailable()">>></button>
                    </div>
                    <div class="col-md-5">
                        <p>Базовые продукты</p>
                        <div class="panel panel-blue margin-bottom-10">
                            <div ui-grid="availableUnderlying" ui-grid-selection ui-grid-edit></div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="forecast">Прогноз:</label>
                    <textarea id="forecast" class="form-control" ng-model="selectedProduct.forecast">{{forecast}}</textarea>
                </div>
                <div class="form-group">
                    <button class="form-control" ng-click="clickChartUpload()">Загрузить данные для графика</button>
                    <input type="file" class="hidden" id="uploadChart" accept=".json" onchange="angular.element(this).scope().setChartData(this.files[0], $(this))"/>
                </div>
                <div class="form-group">
                    <button class="form-control" ng-click="clickImgUpload()">Загрузить изображение</button>
                    <input type="file" class="hidden" id="imgUpload" accept="image/*" onchange="angular.element(this).scope().setImgData(this)"/>
                    <img width="100" height="100" ng-show="selectedProduct.img" id="product-logo-preview" ng-src="{{selectedProduct.img}}"/>
                </div>
            </form>
            <button class="btn-primary" ng-click="addParam()">Обновить</button>
        </div>
    </div>
</div>
</div>

