<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Страница Администратора</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Страница Администратора</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Content ===-->
<div class="container content-sm">
    <div ng-include="'views/template/admin-menu.htm'"></div>
    <div class="row">

        <div class="col-md-3">
            <ul class="list-group sidebar-nav-v1">
                <li class="list-group-item"><a href="" ng-click="selectTable('product')" ng-class="{'blue-style': selected == 'product'}">
                    Структурные продукты
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('productType')" ng-class="{'blue-style': selected == 'productType'}">
                    Тип структурного продукта
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('term')" ng-class="{'blue-style': selected == 'term'}">
                    Срок
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('investment')" ng-class="{'blue-style': selected == 'investment'}">
                    Минимальные инвестиции
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('return')" ng-class="{'blue-style': selected == 'return'}">
                    Доходность
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('strategy')" ng-class="{'blue-style': selected == 'strategy'}">
                    Стратегия
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('legalType')" ng-class="{'blue-style': selected == 'legalType'}">
                    Юридическая форма
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('payoff')" ng-class="{'blue-style': selected == 'payoff'}">
                    Размер выплаты
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('underlayingType')" ng-class="{'blue-style': selected == 'underlayingType'}">
                    Тип базового актива
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('underlaying')" ng-class="{'blue-style': selected == 'underlaying'}">
                    Базовый актив
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('risks')" ng-class="{'blue-style': selected == 'risks'}">
                    Риски
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('currency')" ng-class="{'blue-style': selected == 'currency'}">
                    Валюта
                </a></li>
                <li class="list-group-item"><a href="" ng-click="selectTable('paymentPeriodicity')" ng-class="{'blue-style': selected == 'paymentPeriodicity'}">
                    Периодичность выплаты дохода
                </a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="panel panel-blue margin-bottom-10">
                <div ui-grid="table" ui-grid-selection ui-grid-edit></div>
            </div>
            <div name="alertDiv" class="col-lg-12">
                <alert close="closeAlert()" dismiss-on-timeout="15000" type="danger"
                       ng-if="alert.visible">{{alert.msg}}</alert>
            </div>
            <button class="btn-u btn-u-sea rounded disabled-button" type="button" ng-click="saveData()" ng-disabled="saveButtonsDisabled">
                Сохранить изменения
            </button>
            <button type="button" class="btn-u btn-u-sea rounded" ng-click="addData()">
                Добавить
            </button>
            <button type="button" class="btn-u btn-u-sea rounded disabled-button" ng-click="removeData()" ng-disabled="selection.length === 0">
                Удалить
            </button>

            <!-- ng-change doesn't work for input type file-->
            <input type="file" class="hidden" id="uploadFile" accept=".csv" onchange="angular.element(this).scope().uploadCsv(this.files[0], $(this))"/>

            <button type="button" class="btn-u btn-u-sea rounded" ng-click="clickUploadButton()">
                Загрузить из CSV
            </button>
            <button type="button" class="btn-u btn-u-sea rounded" ng-click="clickDownloadButton()">
                Выгрузить в CSV
            </button>
        </div>

        </div>
    </div>

</div>